
<!-- Title -->
<div class="row">
    <div class="col-md-12 mx-auto title-div-color">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center title-div-content">
            <h2 class="title-text">Details of ISTE Annual Conventions
            </h2>
            
            <span class="subtitle-container">
                <a href="" class="linked-text"><h6 class="subtitle-text text-color-change">Home</h6></a>
                <h6 class="subtitle-text "> > Details of ISTE Annual Conventions
                </h6>
            </span>
        </div> 
    </div> 
</div>

<!-- Content -->

<!-- For ISTE Members -->

<div class="container">
    <div class="row" style="margin-top: 5vh; margin-bottom: 5vh;">
        <div class="col-md-10 mx-auto">

            <p class="caps-content text-center mt-3 mb-3 block-right">
                Details of Annual Conventions of ISTE 1972-2020
            </p>

            <p class="paragraph block-left">
                <strong>I Annual Convention,</strong> College of Engineering, Guindy, Madras, 20-21 February, 1972 – <strong>Role & Objectives of the ISTE.</strong> Chief Guest: <strong>Prof. Nurul Hassan,</strong> Minister of State for Education, Social Welfare and Culture, Govt. of India.
            </p>

            <p class="paragraph block-left">
                <strong>II Annual Convention,</strong> NITIE, Mumbai, 17-18, March, 1973. 
            </p>

            <p class="paragraph block-left">
                <strong>III Annual Convention,</strong> MREC, Jaipur, 20-21, January, 1974. 
            </p>

            <p class="paragraph block-left">
                <strong>IV Annual Convention,</strong> JNTU, Hyderabad, 28-29 December, 1974 – <strong>Curriculum Development.</strong> 
            </p>

            <p class="paragraph block-left">
                <strong>V Annual Convention,</strong>  IE (I), Calcutta, 27-28, December 1975. 
            </p>

            <p class="paragraph block-left">
                <strong>VI  Annual Convention,</strong>  Trivandrum, 26-27 December, 1976. 
            </p>

            <p class="paragraph block-left">
                <strong>VII   Annual Convention,</strong>  New Delhi, 25 January, 1978 – <strong>The Role of Technical Institutions in Rural Development.</strong> Chief Guest: <strong>Hon’ble Dr. P.C. Chunder,</strong> Minister of Education & Social Welfare, Govt. of India. 
            </p>

            <p class="paragraph block-left">
                <strong>VIII   Annual Convention,</strong>  Patiala, 21-22 December, 1978. 
            </p>

            <p class="paragraph block-left">
                <strong>IX   Annual Convention,</strong>  Bhopal, 12-13 January, 1980 – <strong>QIP in Search of Dynamism.</strong> Chief Guest: <strong>H.E. Shri C.M. Poonacha,</strong> Governor of M.P. 
            </p>

            
            <p class="paragraph block-left">
                <strong>X Annual Convention,</strong> Baroda, 28-29 December, 1980 – <strong>Technical Education – Retrospects and Prospects.</strong> Chief Guest: <strong>Hon’ble Shri Madhavsinhji Solanki,</strong> Chief Minister of Gujarat.
            </p> 

            <p class="paragraph block-left">
                <strong>XI Annual Convention,</strong> Bangalore, 22-24 December, 1981 – <strong>Technical University and its Role in the Development of Engineering Education in Totality.</strong> Chief Guest: <strong>Hon’ble Shri R. Gundu Rao,</strong> Chief Minister of Karnataka.
            </p>           
            
            <p class="paragraph block-left">
                <strong>XII Annual Convention,</strong> Hyderabad, 27-29 December, 1982 – <strong>Management of Technical Education.</strong> Chief Guest: <strong>H.E. Shri K.C. Abraham,</strong> Governor of Andhra Pradesh.
            </p>
            
            <p class="paragraph block-left">
                <strong>XIII Annual Convention,</strong> Chandigarh, 19-21 December, 1983 – <strong>New Concepts, Strategies and Emphasis in Technical Education.</strong> Chief Guest: <strong>Shri K. Banerji,</strong> Chief Commissioner, UT Chandigarh.
            </p>
            
            <p class="paragraph block-left">
                <strong>XIV Annual Convention,</strong> Guwahati, 1-2 December, 1984 – <strong>Role of Technical Education in Rural Development.</strong> Chief Guest: <strong>Hon’ble Mukut Sarma,</strong> Minister of Education, Assam.
            </p>
            
            <p class="paragraph block-left">
                <strong>XV Annual Convention,</strong> Trivandrum, 15-16 December, 1985 – <strong>National Perspectives of Technical Education in the 1990’s.</strong> Chief Guest: <strong>Hon’ble Shri K. Karunakaran,</strong> Chief Minister of Kerala.
            </p>
            
            <p class="paragraph block-left">
                <strong>XVI Annual Convention,</strong> Allahabad, 10-12 December, 1986 – <strong>Role of Technical Education in the Process of National Development.</strong> Chief Guest: <strong>Hon’ble Shri Bir Bahadur Singh,</strong> Chief Minister of U.P.
            </p>
            
            <p class="paragraph block-left">
                <strong>XVII Annual Convention,</strong> Mysore, 10-12 December, 1987 – <strong>Faculty Accountability and Work Ethics.</strong> Chief Guest: <strong>Hon’ble Dr. Jeevaraj Alva,</strong> Minister for Higher Education Karnataka.
            </p>
            
            <p class="paragraph block-left">
                <strong>XVIII Annual Convention,</strong> Pune, 22-24 December, 1988 – <strong>Training of Engineering Teachers: Need for New Areas and Approaches.</strong> Chief Guest: <strong>H.E. Shri K. Brahamananda Ready,</strong> Governor of Maharashtra.
            </p>
            
            <p class="paragraph block-left">
                <strong>XIX Annual Convention,</strong> Tirupati, 19-21 December, 1989 – <strong>Excellence in Technical Education.</strong> Chief Guest: <strong>Hon’ble Shri K. Eswara Kumar,</strong> Minister for Technical Education, Andhra Pradesh.
            </p>
            
            <p class="paragraph block-left">
                <strong>XX Annual Convention,</strong> Vallabh Vidyanagar, 20-22 December, 1990 – <strong>Performance Appraisal & Development System (PADS) in Technical Education.</strong> Chief Guest: <strong>Prof. L.S. Srinath,</strong> Indian Institute of Science, Bangalore.
            </p>
            
            <p class="paragraph block-left">
                <strong>XXI Annual Convention,</strong> Madras, 14-16 December, 1991 – <strong>Technical Education in India – Promise and Performance.</strong> Chief Guest: <strong>Hon’ble Shri R.M. Veerappan,</strong> Minister for Education, Govt. of Tamil Nadu.
            </p>
            
            <p class="paragraph block-left">
                <strong>XXII Annual Convention,</strong> Indore, 26-28 December, 1992 – <strong>Role of ISTE in the Evolution of National Policies on Technical Education and their Implementation.</strong> Chief Guest: <strong>Shri R.K. Saraf,</strong> Director (Personnel), BHEL, New Delhi.
            </p>
            
            <p class="paragraph block-left">
                <strong>XXIII Annual Convention,</strong> Surathkal, 26-28 December, 1993 – <strong>Continuing Education for Engineering Manpower.</strong> Chief Guest: <strong>Hon’ble Shri Veerappa Moily,</strong> Chief Minister of Karnataka.
            </p>
            
            <p class="paragraph block-left">
                <strong>XXIV Annual Convention,</strong> REC Calicut, 17-19 December, 1994 – <strong>Technical Education in the Context of Globalisation of Indian Economy.</strong> Chief Guest: <strong>Hon’ble Shri K. Karunakaran,</strong> Chief Minister of Kerala.
            </p>
            
            <p class="paragraph block-left">
                <strong>XXV Annual Convention,</strong> VRCE, Nagpur, 29-31 December, 1995 – <strong>Private Sector Participation in Technical Education and its Implications.</strong> Chief Guest: <strong>Hon’ble Shri Dattaji Rane,</strong> Minister for Higher & Technical Education, Govt. of Maharashtra.
            </p>
            
            <p class="paragraph block-left">
                <strong>XXVI Annual Convention,</strong> MREC, Jaipur, 4-6 January 1996 – <strong>Technical Education: Prescription, Assessment and Control of Quality and Development Policy.</strong> Chief Guest: <strong>Hon’ble Shri Lalit Kumar Chaturvedi,</strong> Minister for Higher & Technical Education, Science & Technology and PWD, Govt. of Rajasthan.
            </p>
            
            <p class="paragraph block-left">
                <strong>XXVII Annual Convention,</strong> MACT, Bhopal, 19-21 December, 1997 – <strong>Global Interconnectivity for Technical Education in India.</strong> Chief Guest: <strong>Hon’ble Shri Narendra Nahta,</strong> Minister for Manpower & Planning, Govt. of M.P.
            </p>
            
            <p class="paragraph block-left">
                <strong>XXVIII Annual Convention,</strong> PAU, Ludhiana, 21-23 November, 1998 – <strong>Environment and Development.</strong> Chief Guest: <strong>Hon’ble Dr. (Mrs.) Upinderjit Kaur,</strong> Minister for Technical Education and Industrial Training, Govt. of Punjab.
            </p>
            
            <p class="paragraph block-left">
                <strong>XXIX Annual Convention,</strong> Kongu Engg. College, Perundurai, Erode, 10-12 December, 1999 – <strong>Management of Technical Education in the 21st Century.</strong> Chief Guest: <strong>Dr. V.C. Kulandaiswamy,</strong> Former Vice Chancellor, IGNOU, New Delhi.
            </p>
            
            <p class="paragraph block-left">
                <strong>XXX Annual Convention,</strong> Nirma Institute of Technology, Ahmedabad, 14-16 December, 2000 – <strong>Shaping Technical Education for the Future.</strong> Chief Guest: <strong>Hon’ble Shri Keshubhai Patel,</strong> Chief Minister of Gujarat.
            </p>
            
            <p class="paragraph block-left">
                <strong>XXXI Annual Convention,</strong> Kalinga Institute of Industrial Technology, Bhubaneswar, 27-29 December, 2001 – <strong>Integrating Human Values in Technical Education.</strong> Chief Guest: <strong>Hon’ble Shri Naveen Patnaik,</strong> Chief Minister of Orissa.
            </p>
            
            <p class="paragraph block-left">
                <strong>XXXII Annual Convention,</strong> NMAM Institute of Technology, Nitte, Karnataka, 27-29 December, 2002 – <strong>Role of Technical Education for Sustainable Development.</strong> Chief Guest: <strong>Hon’ble Dr. R. Natarajan,</strong> Chairman AICTE, New Delhi.
            </p>
            
            <p class="paragraph block-left">
                <strong>XXXIII Annual Convention,</strong> Kumaraguru College of Technology, Coimbatore, 27-30 December, 2003 – <strong>Reaching the Unreached: A Challenge to Technical Education.</strong> Chief Guest: <strong>Dr. Sahib Singh Verma,</strong> Hon’ble Minister for Labour, Govt. of India.
            </p>

            <p class="paragraph block-left">
                <strong>XXXIV Annual Convention,</strong> Netaji Subhash Institute of Technology, Dwaraka, New Delhi, 18-20 December, 2004 – <strong>Managing Talent for Competitive Edge.</strong> Chief Guest: <strong>Mrs. Sheila Dikshit,</strong> Hon’ble Chief Minister, Government of NCT, Delhi.
            </p>
            
            <p class="paragraph block-left">
                <strong>XXXV Annual Convention,</strong> Bapuji Institute of Engineering and Technology, Davangere, Karnataka, 15-17 December, 2005 – <strong>Disasters: Prediction, Prevention & Management.</strong> Chief Guest: <strong>Sri H.K. Patil,</strong> Honourable Minister for Law, Government of Karnataka, Bangalore.
            </p>
            
            <p class="paragraph block-left">
                <strong>XXXVI Annual Convention,</strong> Bannari Amman Institute of Technology, Sathyamangalam, Erode Dist., Tamil Nadu, 14-16 December, 2006 – <strong>Quality, Sustainability and Social Responsibility: Interfaces of Technical Education in the Context of Globalisation.</strong> Chief Guest: <strong>Shri N.K.K.P. Raja,</strong> Honourable Minister for Handlooms and Textiles, Government of Tamil Nadu.
            </p>
            
            <p class="paragraph block-left">
                <strong>XXXVII Annual Convention,</strong> Manipal Institute of Technology, Manipal, 17-19 December, 2007 – <strong>Excellence in Technical Education through Innovation.</strong> Chief Guest: <strong>Justice N. Santosh Hegde,</strong> Lok Ayukta of Karnataka.
            </p>
            
            <p class="paragraph block-left">
                <strong>XXXVIII Annual Convention,</strong> KIIT University, Bhubaneswar (Orissa), 19-21 December, 2008 – <strong>Autonomy and Accountability of Technical Education in Changing Scenario.</strong> Chief Guest: <strong>His Excellency Shri M.C. Bhandare,</strong> Governor of Orissa.
            </p>
            
            <p class="paragraph block-left">
                <strong>XXXIX Annual Convention,</strong> NIT, Surathkal, Mangalore, 18-20 December, 2009 – <strong>Managing Technical Education for Leveraging Innovation and Entrepreneurship.</strong> Chief Guest: <strong>Dr. Lueny Morell,</strong> President, International Federation of Engineering Education Societies (IFEES), USA.
            </p>
            
            <p class="paragraph block-left">
                <strong>XXXX Annual Convention,</strong> Mepco Schlenk Engineering College, Sivakasi, December 2-4, 2010 – <strong>Foreign Universities in India: Challenges and Opportunities.</strong> Chief Guest: <strong>Prof. M. Ananandakrishnan,</strong> Chairman, Board of Governors, IIT, Kanpur.
            </p>
            
            <p class="paragraph block-left">
                <strong>XXXXI Annual Convention,</strong> Baba Banda Singh Bahadur Engineering College, Fatehgarh Sahib (Punjab), December 16-18, 2011 – <strong>Role and Relevance of Regulatory Bodies in Higher Education.</strong> Chief Guest: <strong>Dr. Gurmohan Singh Walia,</strong> Director Education, Shiromani Gurdwara Parbandhak Committee (SGPC), Punjab.
            </p>
            
            <p class="paragraph block-left">
                <strong>XXXXII Annual Convention,</strong> Anurag Group of Institutions, R.R. Dist., Hyderabad, December 20-22, 2012 – <strong>Achieving Excellence in Technical Education – Opportunities and Threats.</strong> Chief Guest: <strong>Dr. V.K. Saraswath,</strong> Scientific Advisor to Raksha Mantri, Govt. of India.
            </p>

            <p class="paragraph block-left">
                <strong>XXXXIII Annual Convention,</strong> Tatyasabeb Kore Institute of Engineering and Technology, Dist. Kolhapur, December 19-21, 2013 – <strong>Empowering Technical Education to Address Sustainability and Global Competitiveness.</strong> Chief Guest: <strong>Hon. Shri Rajeshji Tope,</strong> Minister, Higher and Technical Education, Maharashtra.
            </p>
            
            <p class="paragraph block-left">
                <strong>XXXXIV Annual Convention,</strong> College of Engineering Trivandrum, Thiruvananthapuram, Kerala, November 27-29, 2014 – <strong>Shaping Technical Education to Meet Challenges Beyond 2020.</strong> Chief Guest: <strong>Justice (Retd.) Sri P. Sathasivam,</strong> Hon. Governor of Kerala.
            </p>
            
            <p class="paragraph block-left">
                <strong>XXXXV Annual Convention & International Conference,</strong> HVP Mandal’s College of Engineering and Technology, Amravati, January 9-11, 2016 – <strong>Challenges & Opportunities in Technical Education in the Era of Sustainable Development.</strong> Inauguration by <strong>Hon’ble Devendra Fadnavis,</strong> Chief Minister, Maharashtra State; Chief Guest <strong>Hon’ble Nitin Gadkari,</strong> Union Minister, Road Transport and Highways, Shipping, Govt. of India.
            </p>
            
            <p class="paragraph block-left">
                <strong>XXXXVI Annual Convention & National Seminar,</strong> Gulzar Group of Institutes, Khanna, Ludhiana (Punjab), February 10-12, 2017 – <strong>Intelligent Technologies for Better Tomorrow.</strong> Inaugurated by <strong>Prof. Anil D. Sahasrabudhe,</strong> Chairman, All India Council for Technical Education (AICTE), New Delhi.
            </p>
            
            <p class="paragraph block-left">
                <strong>XXXXVII Annual Convention & National Seminar,</strong> Saintgits College of Engineering, Kottayam (Kerala), January 27-29, 2018 – <strong>Transform Student Engineers to Practicing Professionals.</strong> Inaugurated by <strong>Dr. M.P. Poonia,</strong> Vice Chairman, All India Council for Technical Education, New Delhi.
            </p>
            
            <p class="paragraph block-left">
                <strong>XXXXVIII Annual Faculty Convention & National Seminar,</strong> Visvesvaraya Technological University (VTU), Belagavi (Karnataka), 19th & 20th March, 2019 – <strong>Technical Education for Smart Society.</strong> Inaugurated by Dr. Karisiddappa,Vice Chancellor, VTU, Belagavi.
            </p>

            <!-- the number ordere paragraphs neds here last 2 para on wepage is wriiten here  adjust accoarding to you
             and every attribute like bold is coded just wrute whre ver you want-->

             <p class="paragraph block-left">
                <strong>50th ISTE National Annual Faculty Convention and National/Regional Awards 2020 Distribution Ceremony</strong> was held at Y.B. Chavan Centre, Mumbai (Maharashtra) on 05-10-2021 at 11.00 noon. The Convention was graced in the august presence of <strong>Hon’ble Chief Minister of Maharashtra Shri Uddhav Bal Thackeray</strong> as Chief Guest. <strong>Shri Uday Samant Ji,</strong> Hon’ble Minister of Higher and Technical Education, Govt. of Maharashtra; <strong>Shri Prajakt Prasad Tanpure,</strong> Hon’ble Minister of States for Higher and Technical Education, Government of Maharashtra; and <strong>Shri Satej D. Patil,</strong> Hon’ble Minister of State of Home will grace the function as Guests of Honor.
            </p>
            
            <p class="paragraph block-left">
                <strong>51st ISTE National Annual Convention</strong> was held on 27th August, 2022 at Agnel Institute of Technology & Design, Assagao, Goa in collaboration with Directorate of Technical Education, Goa. The <strong>Hon’ble Governor of Goa</strong> was the Chief Guest for the Inaugural Function. <strong>Dr. K.K. Aggarwal,</strong> Chairman, National Board of Accreditation, New Delhi was the Guest of Honour of the function.
            </p>





        </div>

    </div>

</div>






