
<!-- Title -->
<div class="row">
    <div class="col-md-12 mx-auto title-div-color">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center title-div-content">
            <h2 class="title-text">Download Form</h2>
            
            <span class="subtitle-container">
                <a href="" class="linked-text"><h6 class="subtitle-text text-color-change">Home</h6></a>
                <h6 class="subtitle-text "> > Download Form</h6>
            </span>
        </div> 
    </div> 
</div>

<!-- Content -->

<!-- For ISTE Members -->

<div class="container">
    <div class="row" style="margin-top: 5vh;">
        <div class="col-md-10 mx-auto">

            <!-- <p class=" caps-content block-right mt-4">
                Major Benefits of becoming an ISTE Member
            </p> -->

            <p class="paragraph block-left">

                From January 2022, ISTE has launched Online Portal for all membership related work viz. new application for Institutional Membership, Life Membership, Student Membership and payment of fee via the same ONLINE PORTAL.  All the recognised Technical Institutions/Institutional Members of ISTE/AICTE approved engineering colleges (degree & diploma)/Polytechnics/Life Members of ISTE requested to kindly utilize this Online Web Portal  for applying and making payments as no manual form or DD will be accepted. 

            </p>

            <p class="paragraph linked-text text-color-change text-center block-right"><a>https://membership.isteonline.in/</a></p>

           

            <ul>
                <li class="block-left">

                    

                        For Claiming/Retaining Chapter Share : <a href="downloadables/For Claiming Chapter Share.pdf" target="_blank" style="text-decoration: none;"><span style="color:#1AB69D"> Download Here</span></a>
        
                    

                </li>

                <li class="block-left">
                    

                        This Form should accompany Form 1 for claiming chapter share : <a href="downloadables/For Claiming Retaining Chapter Share.pdf" style="text-decoration: none;"><span style="color:#1AB69D"> Download Here</span></a>
        
                    

                </li>

                <li class="block-left">
                    

                        For getting any one course material free : <a href="downloadables/For getting any one course material free.pdf" target="_blank" style="text-decoration: none;"><span style="color:#1AB69D"> Download Here</span></a>
        
                    
                </li>

                <li class="block-left">
                    

                        For Claiming/Retaining Chapter ShareFor getting Financial Assistance for Chapter Level Programmes : <a href="downloadables/For getting Financial Assistance for Chapter Level Programmes.pdf" style="text-decoration: none;"><span style="color:#1AB69D"> Download Here</span></a>
        
                    
                </li>

                <li class="block-left">
                    

                        For claiming TA for attending annual convention of ISTE : <a href="downloadables/For claiming TA for attending annual convention of ISTE.pdf" style="text-decoration: none;"><span style="color:#1AB69D"> Download Here</span></a>
        
                    
                </li>

            </ul>
            
            






        </div>

    </div>

</div>






