
<!-- Title -->
<div class="row">
    <div class="col-md-12 mx-auto title-div-color">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center title-div-content">
            <h2 class="title-text">Former Executive Secretaries of ISTE</h2>
            
            <span class="subtitle-container">
                <a href="" class="linked-text"><h6 class="subtitle-text text-color-change">Home</h6></a>
                <h6 class="subtitle-text "> > Former Executive Secretaries of ISTE</h6>
            </span>
        </div> 
    </div> 
</div>

<!-- Content -->

<!-- For ISTE Members -->

<div class="container">
    <div class="row" style="margin-top: 5vh;">
        <div class="col-md-10 mx-auto">

            <div class="container mt-3">
                
                <table class="table table-striped table-bordered table-hover text-center shadow mb-5">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Year</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr><td>Prof. Vijay D. Vaidya</td><td>March 2015 to July 31, 2023</td></tr>
                        <tr><td>Dr. S. Basil Gnanappa</td><td>March 15, 2012 to March 14, 2015</td></tr>
                        <tr><td>Prof. R. Hariharan (I/c)</td><td>February 27, 2012 to March 14, 2012</td></tr>
                        <tr><td>Prof. Ranjit Singh</td><td>September 2006 to February 25, 2012</td></tr>
                        <tr><td>Prof. Raghuvir Singh</td><td>July 2005 – August 2006</td></tr>
                        <tr><td>Prof. A.Q. Ansari</td><td>April 2005 – July 2005</td></tr>
                        <tr><td>Prof. H.P. Sinha</td><td>April 2000 – March 2005</td></tr>
                        <tr><td>Shri Atma Ram (Actg.)</td><td>July 1999 – April 2000</td></tr>
                        <tr><td>Prof. K.P.P. Pillai</td><td>June 1997 – June 1999</td></tr>
                        <tr><td>Prof. P.J. George</td><td>April 1988 – May 1997</td></tr>
                        <tr><td>Prof. M.V. Rangnathan</td><td>1980 - 1987 March</td></tr>
                        <tr><td>Prof. B.S. Subba Rao</td><td>1978 - 1979</td></tr>
                        <tr><td>Dr. M.L. Jain</td><td>1977</td></tr>
                        <tr><td>Prof. Y. Saran</td><td>1975 - 1976</td></tr>
                        <tr><td>Prof. K.S. Hegde</td><td>1973 - 1974</td></tr>
                        <tr><td>Prof. N.M. Swani</td><td>1972</td></tr>
                        <tr><td>Prof. S.C. Sen</td><td>1968</td></tr>
                    </tbody>
                  </table>

              </div>



        </div>

    </div>

</div>






