
<!-- Title -->
<div class="row">
    <div class="col-md-12 mx-auto title-div-color">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center title-div-content">
            <h2 class="title-text">How to Establish an ISTE Students Chapter</h2>
            
            <span class="subtitle-container">
                <a href="" class="linked-text"><h6 class="subtitle-text text-color-change">Home</h6></a>
                <h6 class="subtitle-text "> > How to Establish an ISTE Students Chapter</h6>
            </span>
        </div> 
    </div> 
</div>

<!-- Content -->

<!-- For ISTE Members -->

<div class="container">
    <div class="row" style="margin-top: 5vh;">
        <div class="col-md-10 mx-auto bordered-div">

            <h2 class="content-heading">STEP BY STEP PROCEDURE</h2>


            <ul>
                <li>
                    Minimum strength to establish ISTE student chapter (first time) in AICTE approved institution is 100 students or 50% of annual intake (whichever is less) provided institute is institutional member of ISTE first.
                </li>
                <li>
                    Student Chapter formation certificates, receipt & Cards to students will be issued online for entire duration of the course initially in their first year.
                </li>
                <li>
                    On receipt of the above details, convene a meeting of the ISTE Student members to elect the following office bearers and send the list to ISTE Headquarters:
                    <ul>
                        <li>
                            Student Chairperson
                        </li>
                        <li>
                            3 to 7 members
                        </li>
                    </ul>
                </li>
                <li>
                    Arrange the inauguration of the Chapter in a befitting function and conduct the following activities:
                    <ul>
                        <li>
                            Organise weekly quiz programmes for members.
                        </li>
                        <li>
                            Organise lectures by experts from industry, R&D organisations, defence services, government departments and other institutions.
                        </li>
                        <li>
                            Coaching programme for writing competitive examinations and attending job interview.
                        </li>
                        <li>
                            Training programme on report writing, Project Management
                        </li>
                        <li>
                            Cultural programmes
                        </li>
                        <li>
                            Counselling Services
                        </li>
                        <li>
                            Entrepreneurship development programmes
                        </li>
                        <li>
                            Lectures on Moral Values and Ethics
                        </li>
                        <li>
                            Discussions, brain-storming sessions, group activities
                        </li>
                        <li>
                            Training in public speaking
                        </li>
                        <li>
                            Training in becoming a Master Student
                        </li>
                        <li>
                            Visits to industry, work sites
                        </li>
                        <li>
                            Programmes in leadership and personality development
                        </li>
                        <li>
                            Training in co-operative learning
                        </li>
                        <li>
                            Training on Environmental Awareness
                        </li>
                        <li>
                            Training on Basic Management Skills
                        </li>
                    </ul>
                </li>
                <li>
                    The proportionate share of the Bank interest on the Life Membership fee shall be remitted to the Chapter on receipt of the satisfactory report of Activities and Audited Statement of Accounts for the preceding year from the Chapter through proper channel. The request for the release of the Chapter share should be sent to the Headquarters during the month of July of every year.
                </li>
                <li>
                    Student Chapter can retain their share 50% of basic fee out of total fee collected and send the rest amount to ISTE Delhi for necessary action.
                </li>
                
            </ul>
    </div>

    <div class="col-md-10 mx-auto bordered-div">

        <h2 class="content-heading">ONLINE MEMBERSHIP PORTAL</h2>

        <p class="paragraph">
            From January 2022, ISTE has launched Online Portal for all membership related work viz. new application for Institutional Membership, Life Membership, Student Membership and payment of fee via the same ONLINE PORTAL. All the recognised Technical Institutions/Institutional Members of ISTE/AICTE approved engineering colleges (degree & diploma)/Polytechnics/Life Members of ISTE requested to kindly utilize this Online Web Portal for applying and making payments as no manual form or DD will be accepted.  
        </p>

        <p class="paragraph">Link: 
            <a href="https://membership.isteonline.in/" class="linked-text text-color-change">
                https://membership.isteonline.in/
            </a>

        </p>

        

        
            
        
</div>

    

    



</div>






