
<!-- Title -->
<div class="row">
    <div class="col-md-12 mx-auto title-div-color">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center title-div-content">
            <h2 class="title-text">How to become ISTE Member</h2>
            
            <span class="subtitle-container">
                <a href="" class="linked-text"><h6 class="subtitle-text text-color-change">Home</h6></a>
                <h6 class="subtitle-text "> > How to become ISTE Member</h6>
            </span>
        </div> 
    </div> 
</div>

<!-- Content -->

<!-- For ISTE Members -->

<div class="container">
    <div class="row" style="margin-top: 5vh;">
        <div class="col-md-10 mx-auto">

            <ol>
                <li class="block-left">
                    Any person of Indian origin or a foreign national holding a University Degree or diploma or an equivalent qualification and who is/had been employed on the teaching faculty of a recognised technical institution; or a person having a technical academic qualification working in a Technical/Research Institute or an industry and has interest in technical education in India is eligible for membership.
                </li>
                <li class="block-left">
                    Application for membership shall be recommended by a Life Member of the Society.
                </li>
                <li class="block-left">
                    All life members are issued life membership plastic card, certificate and receipt of payment made.

                </li>
                <li class="block-left">
                    LM fee is Rs 3540/- incl of 18% GST valid for entire life.

                </li>
            

            </ol>


            <p class=" caps-content block-right mt-4">
                ONLINE MEMBERSHIP PORTAL
            </p>

            <p class="paragraph block-left">

                From January 2022, ISTE has launched 
                <a href="https://membership.isteonline.in/" style="text-decoration: none;">
                    <span class="paragraph linked-text text-color-change">
                        Online Portal 
                    </span>
                
                </a>

                for all membership related work viz. new application 
                for Institutional Membership, Life Membership, Student 
                Membership and payment of fee via the same 

                <a href="https://membership.isteonline.in/" style="text-decoration: none;">
                    <span class="paragraph linked-text text-color-change">
                        ONLINE PORTAL. 
                    </span>
                
                </a>
                 
                All the recognised Technical Institutions/Institutional 
                Members of ISTE/AICTE approved engineering colleges 
                (degree & diploma)/Polytechnics/Life Members of ISTE 
                requested to kindly utilize this 

                <a href="https://membership.isteonline.in/" style="text-decoration: none;">
                    <span class="paragraph linked-text text-color-change">
                        Online Web Portal  
                    </span>
                
                </a>
                
                

                for applying and making payments as no manual form 
                or DD will be accepted.

            </p>

            <p class="paragraph block-left">

                Online web portal : 

                <a style="text-decoration: none;" href="https://membership.isteonline.in/">
                    <span class="paragraph linked-text text-color-change">
                        https://membership.isteonline.in/
                    </span>
    
                </a>

            </p>
            
            






        </div>

    </div>

</div>






