
<!-- Title -->
<div class="row">
    <div class="col-md-12 mx-auto title-div-color">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center title-div-content">
            <h2 class="title-text">Contribute Articles in IJTE
            </h2>
            
            <span class="subtitle-container">
                <a href="" class="linked-text"><h6 class="subtitle-text text-color-change">Home</h6></a>
                <h6 class="subtitle-text "> > Contribute Articles in IJTE
                </h6>
            </span>
        </div> 
    </div> 
</div>

<!-- Content -->

<!-- For ISTE Members -->

<div class="container">
    <div class="row" style="margin-top: 5vh; margin-bottom: 5vh;">
        <div class="col-md-10 mx-auto">

            <p class="caps-content text-center block-right mt-5 mb-3">
                Appeal to contribute articles for The Indian Journal of Technical Education (IJTE)
            </p>

            <p class="paragraph block-left">

                Indian Society for Technical Education (ISTE) is the leading National Professional non-profit making Society for the Technical Education System in the country with the motto of Career Development of Teachers and Personality Development of Students and overall development of our Technical Education System. 

            </p>

            <p class="content-heading block-right mt-5 mb-3">
                About the Journal
            </p>

            <p class="paragraph block-left">
                The Indian Journal of Technical Education (IJTE) is published by the Indian Society for Technical Education (ISTE) on quarterly basis with the aim to provide an appropriate platform presenting well considered, meaningful, constructively thought provoking, non-political and non-controversial but critically analysing and synthesizing present and future aspects of Technical Education System with particular reference to our country.
            </p>

            <p class="paragraph block-left">
                <strong>The IJTE is a peer reviewed Journal and recently indexed in the UGC-Care Journal list.</strong> The main task of the CARE is to improve the quality of research in Indian universities and to promote academic and research integrity as well as publication ethics. High-quality publications in reputed journals help in achieving higher global ranks and overall improvement of quality of education. 
            </p>

            <p class="paragraph block-left">
                The contributors are expected to highlight various issues of Technical Education (incorporating disciplines of Engineering, Technology, Management, Architecture & Pharmacy, etc. along with meaningful suggestions for solution, refinement and innovations.
            </p>




            <p class="content-heading block-right mt-5 mb-3">
                CALL FOR PAPERS
            </p>

            <p class="paragraph block-left">
                IJTE solicits paper and articles of original, principled research papers dealing with theoretical, methodological, empirical and application-related aspects of technical education. Papers must clearly demonstrate relevance to pedagogical techniques in the field of engineering and technology, Management studies, Pharmacy, Hotel Management and Information Technology.
            </p>

            <p class="paragraph block-left">
                All submissions should describe original and unpublished work. Research papers should describe results of systems development and/or empirical or theoretical analysis. A small number of “review paper”, “survey paper” and “theme papers” will also be accepted. These should synthesize and examine broad issues in the field. Authors are encouraged to submit reports on work-in-progress as short papers.
            </p>

            <p class="paragraph block-left">
                All papers must be submitted to ISTE by email along with an undertaking for the originality, IPR and copyright issues. The full details of the author and their home institution (if any) should be given for correspondence.<strong> Author should be working in the AICTE approved institutions/technical university and each papers should not contain more than 4 authors.</strong>
            </p>

            <p class="paragraph block-left">
                For any further clarifications regarding the submission and status of the papers, may kindly contact to the following:
            </p>

            <p class="paragraph block-left">
                The Editor <br>
                <strong>(The Indian Journal of Technical Education)</strong><br>
                (ISSN No.: 0971-3034)<br>
                Email : 
                <a href="mailto:editor@isteonline.org" style="text-decoration: none;">
                    <span class="linked-text text-color-change paragraph">editor&#64;isteonline.org</span>
                    
                </a>
                
            </p>
            





        </div>

    </div>

</div>






