
<!-- Title -->
<div class="row">
    <div class="col-md-12 mx-auto title-div-color">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center title-div-content">
            <h2 class="title-text">Honorary Fellow-Grade Members of ISTE
            </h2>
            
            <span class="subtitle-container">
                <a href="" class="linked-text"><h6 class="subtitle-text text-color-change">Home</h6></a>
                <h6 class="subtitle-text "> > Honorary Fellow-Grade Members of ISTE
                </h6>
            </span>
        </div> 
    </div> 
</div>

<!-- Content -->

<!-- For ISTE Members -->

<div class="container">
    <div class="row" style="margin-top: 5vh; margin-bottom: 5vh;">
        <div class="col-md-10 mx-auto">

            <p class="caps-content text-center block-right">
                Honorary Fellow-Grade Members of ISTE
            </p>

            <p class="paragraph block-left">
                ISTE has been identifying leading luminaries of Technical Education in the Country since 2000 and conferring Honorary Fellowship for their commendable contributions in the development of Technical Education in the country. Hon. Fellows of ISTE are selected by a Search Committee under the chairmanship of President, ISTE every year to identify leading personalities of technical education. 
            </p>

            <p class="paragraph block-left">
                The candidates to be considered by the Hon. Fellowship should satisfy the following pre-requisits:
            </p>

            <ol>
                <li>
                    He/She shall be a Life Member of ISTE for a minimum period of ten (10) years

                </li>

                <li>
                    He/She shall be a person of eminence in the field of  Technical Edcation at National/ International level.
                </li>

                <li>
                    He/she should have made significant contribution to the promotion & development of the Indian Society for Technical Education
                </li>
            </ol>

            <p class="caps-content text-center block-right">
                List of Hon. Fellows from the year 2000
            </p>

            <div class="container">

                <div class="row mt-3 d-flex justify-content-center align-items-center">

                    <div class="col-md-4">
                        <div class="card p-2 hover-card block-left">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted text-center">2000</h6>
        
              
                                <p class="card-text text-center">
                                    Prof. A. Ramachandran<br>
                                    Prof. N. M. Swani<br>
                                    Prof. V. C. Kulandaiswamy<br>
                                    Prof. C. S. Jha<br>
                                    Prof. B. Basavaraj	
                                </p>
                            </div>
                        </div>
                    </div>
              
              
                    <div class="col-md-4">
                        <div class="card p-2 hover-card block-left">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted text-center">2001</h6>
        
              
                                <p class="card-text text-center">
                                    Prof. N. R. Shetty<br>
                                    Prof. R. Natarajan<br>
                                    Prof. N. R. Dave<br>
                                    Prof. Prem Vrat<br>
                                    Prof. P. V. Bhandari	
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="card p-2 hover-card block-left">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted text-center">2002</h6>
        
              
                                <p class="card-text text-center">
                                    Prof. P. Rama Rao<br>
                                    Prof. S. P. Sukhatme<br>
                                    Prof. L. S. Srinath<br>
                                    Prof. H. C. Pande<br>
                                </p>
                            </div>
                        </div>
                    </div>
                

                </div>





                <div class="row mt-3 d-flex justify-content-center align-items-center">

                    <div class="col-md-4">
                        <div class="card p-2 hover-card block-left">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted text-center">2003</h6>
        
              
                                <p class="card-text text-center">
                                    Prof. P. V. Indiresan<br>
                                    Prof. R. C. Malhotra<br>
                                    Prof. N. V. Vasani<br>
                                    Prof. K. Balaveera Reddy<br>
                                    Prof. S. N. Sinha	
                                </p>
                            </div>
                        </div>
                    </div>
              
              
                    <div class="col-md-4">
                        <div class="card p-2 hover-card block-left">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted text-center">2004</h6>
        
              
                                <p class="card-text text-center">
                                    Prof. M. Anandakrishnan<br>
                                    Prof. B. S. Sonde<br>
                                    Prof. Pritam Singh<br>
                                    Prof. R. S. Sirohi<br>
                                    Prof. P. B. Sharma	
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="card p-2 hover-card block-left">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted text-center">2005</h6>
        
              
                                <p class="card-text text-center">
                                    Prof. V. R. Deshpande<br>
                                    Prof. P. V. Gupta<br>
                                    Prof. M. S. Palanichamy<br>
                                </p>
                            </div>
                        </div>
                    </div>
                

                </div>



                <div class="row mt-3 d-flex justify-content-center align-items-center">

                    <div class="col-md-4">
                        <div class="card p-2 hover-card block-left">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted text-center">2006</h6>
        
              
                                <p class="card-text text-center">
                                    Prof. M. H. Dhananjaya<br>
                                    Prof. R. S. Nirjar<br>
                                    Prof. D. P. Agrawal<br>
                                    Prof. L. M. Patnaik<br>
                                    Prof. I. Gopal Reddy
                                </p>
                            </div>
                        </div>
                    </div>
              
              
                    <div class="col-md-4">
                        <div class="card p-2 hover-card block-left">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted text-center">2007</h6>
        
              
                                <p class="card-text text-center">
                                    Prof. G. J. V. J. Raju<br>
                                    Prof. R. Subbayyan<br>
                                    Prof. Devi Singh<br>
                                    Prof. Ranjit Singh<br>
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="card p-2 hover-card block-left">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted text-center">2008</h6>
        
              
                                <p class="card-text text-center">
                                    Dr. P. Dayaratnam<br>
                                    Dr. S. M. Chatterjee<br>
                                    Prof. N. Ramachandran<br>
                                    Prof. D. S. Hira<br>
                                    Prof. Y. Vrushabhendrappa<br>
                                </p>
                            </div>
                        </div>
                    </div>
                

                </div>





                <div class="row mt-3 d-flex justify-content-center align-items-center">

                    <div class="col-md-4">
                        <div class="card p-2 hover-card block-left">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted text-center">2009</h6>
        
              
                                <p class="card-text text-center">
                                    Prof. C. K. Kokate<br>
                                    Prof. Y. Venkatarami Reddy<br>
                                    Prof. K. K. Padmanabhan<br>
                                    Prof. A. M. Natarajan<br>
                                    Prof. R. P. S. Suker Chakia
                                </p>
                            </div>
                        </div>
                    </div>
              
              
                    <div class="col-md-4">
                        <div class="card p-2 hover-card block-left">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted text-center">2010</h6>
        
              
                                <p class="card-text text-center">
                                    Prof. D. Balakrishnan <br> (posthumously)<br>
                                    Prof. M. L. Mathur<br>
                                    Dr. S. Natarajan<br>
                                    Prof. P. J. George<br>
                                    Prof. Ashok A. Ghatol<br>
                                    Prof. Vir Singh	<br>
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="card p-2 hover-card block-left">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted text-center">2011</h6>
        
              
                                <p class="card-text text-center">
                                    Prof. P. N. Singh<br>
                                    Prof. A. K. Khare<br>
                                    Prof. M. K. Khedkar<br>
                                    Prof. P. Pratapchandra Nair<br>
                                    Prof. K. A. Krishna Murthy<br>
                                    Prof. K. Ranga<br>
                                    Dr. D. S. Mor<br>
                                </p>
                            </div>
                        </div>
                    </div>
                

                </div>







                <div class="row mt-3 d-flex justify-content-center align-items-center">

                    <div class="col-md-4">
                        <div class="card p-2 hover-card block-left">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted text-center">2012</h6>
        
              
                                <p class="card-text text-center">
                                    Prof. K. M. Karuppannan<br>
                                    Prof. N. V. Ratnalikar<br>
                                    Prof. K. P. P. Pillai<br>
                                    Prof. S. V. Vaishnav<br>
                                    Prof. Saroj Rangnekar
                                </p>
                            </div>
                        </div>
                    </div>
              
              
                    <div class="col-md-4">
                        <div class="card p-2 hover-card block-left">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted text-center">2013</h6>
        
              
                                <p class="card-text text-center">
                                    Dr. B. B. Chopane<br>
                                    Dr. K. P. Isaac<br>
                                    Prof. M. A. Mouleeswaran<br>
                                    Prof. B. S. Basavarajaiah<br>
                                    Dr. D. P. Kothari<br>
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="card p-2 hover-card block-left">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted text-center">2014</h6>
        
              
                                <p class="card-text text-center">
                                    Prof. P. O. J. Lebba<br>
                                    Prof. M. V. Ranganath<br>
                                    PDr. M. N. Patel<br>                                   
                                    Prof. K. S. Babai<br>
                                    Prof. M. N. Navale<br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>





                <div class="row mt-3 d-flex justify-content-center align-items-center">

                    <div class="col-md-4">
                        <div class="card p-2 hover-card block-left">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted text-center">2015</h6>
        
              
                                <p class="card-text text-center">
                                    Dr. D. Vishwanathan<br>
                                    Dr. Vijay Tulashiram Ingole<br>
                                    Dr. H. Maheshappa<br>
                                    Dr. Achyuta Samanta<br>
                                    Dr. L. V. Muralikrishna Reddy
                                </p>
                            </div>
                        </div>
                    </div>
              
              
                    <div class="col-md-4">
                        <div class="card p-2 hover-card block-left">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted text-center">2016</h6>
        
              
                                <p class="card-text text-center">
                                    Dr. Anil Sahasrabudhe<br>
                                    Dr. G. D. Yadav<br>
                                    Dr. K. Rajagopal<br>
                                    Dr. P. Ambalagan<br>
                                    Prof. H. V. Bhavnani<br>
                                    Dr. Buta Singh<br>
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="card p-2 hover-card block-left">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted text-center">2017</h6>
        
              
                                <p class="card-text text-center">
                                    Dr. Babu Rajendran<br>
                                    Prof. P. A. Kulkarni<br>
                                    Dr. M. P. Ponnia<br>                                    
                                    Dr. K. R. Venugopal<br>
                                    Dr. H. K. Mittal<br>
                                    Dr. M. Arularasu<br>
                                    Dr. Vijay P. Bhatkar<br>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="row mt-3 d-flex justify-content-center align-items-center">

                    <div class="col-md-4">
                        <div class="card p-2 hover-card block-left">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted text-center">2018</h6>
        
              
                                <p class="card-text text-center">
                                    Prof. Anil Kumar Nassa<br>
                                    Prof. Jagdish T. Patel<br>
                                    Prof. H. U. Talawar<br>
                                    Dr. J. Sreerambabu<br>
                                    Prof. S. M. Sashidhara
                                </p>
                            </div>
                        </div>
                    </div>
              
              
                    <div class="col-md-4">
                        <div class="card p-2 hover-card block-left">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted text-center">2019</h6>
        
              
                                <p class="card-text text-center">
                                    Prof. M. K. Surappa<br>
                                    Prof. P. M. Khodke<br>
                                    Prof. Chitarajan Tripathy<br>
                                    Dr. Usha Natesan<br>
                                    Prof. Manojranjan Nayak<br>
                                    Dr. Indrajit N. Patel<br>
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="card p-2 hover-card block-left">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted text-center">2020</h6>
        
              
                                <p class="card-text text-center">
                                    Dr. Raghunath Anant Mashelkar<br> (Lifetime Achievement Award) <br>
                                    Dr. Faruk Kazi<br>
                                    Dr. Onkar Singh<br>                                    
                                    Prof. Debi Prasad Mishra<br>
                                    Prof. Rajive Kumar<br>
                                    Dr. Sanjay D. Patil<br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>






                <div class="row mt-3 d-flex justify-content-center align-items-center">

                    <div class="col-md-4">
                        <div class="card p-2 hover-card block-left">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted text-center">2021</h6>
        
              
                                <p class="card-text text-center">
                                    Dr. K. K. Aggrawal<br>
                                    Dr. Karisiddappa<br>
                                    Shri. P. Ravi<br>
                                    Dr. Vivek Kamat<br>
                                    Prof. Sunil Gangadhar Bhirud
                                </p>
                            </div>
                        </div>
                    </div>
              
              
                    
                </div>





              
                
              
                
                

            </div>
        </div>

    </div>

</div>






