
<div class="about-us">

    <div class="container">

        <!-- Intro -->
        <div class="row" style="margin-bottom: 1vh;">
            <div class="col-md-10 mx-auto" style="margin-top: 5vh;">

                <div class="row">

                    <div class="col-md-6 mx-auto">
                        <p class="caps-content block-left">
                            About Us
                        </p>
                        <h2 class="content-heading">Introduction</h2>

                        <p class="paragraph" style="margin-top: 2vh;">
                            <strong>The Indian Society for Technical Education (ISTE)</strong> is the leading National Professional non-profit making Society for the Technical Education System in our country with the motto of Career Development of Teachers and Personality Development of Students and overall development of our Technical Education System.  Being the only national organisation of educators in the field of Engineering and Technology, ISTE effectively contributes in various missions of the Union Government. The strength of ISTE is the strong base it has in technical education institutions in the country. 
                        </p>

                    </div>

                    <div class="col-md-6 mx-auto">
    
                        <div class="image-container" style="margin-top: 2vh;">
                            <div>
                                <div class="gallery">
                                    <div class="img-box">
                                        <!-- <h3>Hii</h3> -->
                                    </div>
                                    <div class="img-box">
                                        <!-- <h3>Hii</h3> -->
                                    </div>
                                    
                                    <div class="img-box">
                                        <!-- <h3>Hii</h3> -->
                                    </div>
                                    <div class="img-box">
                                        <!-- <h3>Hii</h3> -->
                                    </div>
                        
                                </div>

                            </div>
                        
                        </div>
        
                    </div>

                </div>

            

            </div>
            


        </div>

        <!-- Objective text and image -->
        <div class="row">
            <div class="col-md-10 mx-auto">

                <div class="container">
                    <div class="row align-items-center">
                      <!-- Image Column -->
                      <div class="col-10 col-md-3 text-center mx-auto">
                        <img src="images/about-us/Aim2.png" class="img-fluid rotating-img block-left" alt="Responsive Image" >
                      </div>
                      
                      <!-- Text Column -->
                      <div class="col-10 col-md-9 mx-auto">
                        <p class="paragraph">
                            
                            The major &nbsp;  <span style="font-size: clamp(1.1rem, 4vw, 2rem); font-weight: bold;">objective</span>  &nbsp;   
                            of the ISTE is to 
                            provide <strong>quality training programmes</strong> to teachers and administrators
                             of technical institutions to update their knowledge 
                             and skills in their fields of activity and to <strong>assist 
                             and contribute</strong> in the production and development of 
                             top quality professional engineers and technicians 
                             needed by the industry and other organisations.
                        </p>

                        
                      </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-md-10 mx-auto">
                <p class="paragraph block-left">

                    It organizes an annual convention for faculty and students 
                    separately every year where a large number of technocrats, 
                    technical teachers, policy makers, experts from the industry etc.
                     participate and interact.<strong> Every year a National Seminar with a 
                     specific theme with respect to the latest development in the field
                      of Science and Technology and societal problems is being arranged 
                      during the Annual convention and leading luminaries of technical 
                      education are invited to deliver special lectures and delegates 
                      will present research papers. ISTE is actively involved in many 
                      activities conducted by All India Council for Technical Education 
                      New Delhi (AICTE) and National Board of Accreditation New Delhi (NBA).</strong>  
                      ISTE is having collaboration and MoUs with government organsations and 
                      various Universities for the promotion of technical education system 
                      in the country.
                    
                </p>
                <!-- <hr style="margin-top: 8vh;"> -->
            </div>
        </div>


        <!-- Objective Card -->
        <div class="row" style="margin-top: 5vh;">
            <div class="col-md-10 mx-auto">
                <p class="caps-content text-center block-left">
                    ISTE Objectives
                </p>
                <h2 class="content-heading text-center block-right"> Major objective of the ISTE</h2>
            </div>

        </div>


        <div class="row">
            <div class="col-md-10 mx-auto">

                <div class="container my-5 mx-auto">
                    <div class="row d-flex justify-content-center align-items-center">
                      <!-- President Card -->
                     
                      <div class="col-md-4 ">
                        <div class="card p-2 hover-card block-left">
                          <div class="card-body text-center">
                            <img src="images/about-us/3.png" class="card-img block-right">
                            <p class="card-text paragraph block-right">
                              Providing quality training programes to teachers and administrators of technical institutions to update their knowledge and skills in their fields of activity.
                            </p>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="card p-2 hover-card block-left">
                          <div class="card-body text-center">
                            <img src="images/about-us/5.png" class="card-img">
                            <p class="card-text paragraph block-right">
                                Providing guidance and training to students to develop better learning skills and personality.


                            </p>
                          </div>
                        </div>
                      </div>
        
                      <div class="col-md-4">
                        <div class="card p-2 hover-card block-left">
                          <div class="card-body text-center">
                            <img src="images/about-us/4.png" class="card-img block-right">
                            <p class="card-text paragraph block-right">
                                To assist and contribute in the production and development of top quality professional engineers and technicians needed by the industry and other organizations.&nbsp;&nbsp;&nbsp;&nbsp;
                            </p>    
                            </div>
                        </div>
                      </div>
                      
                    </div>
        
                </div>

            </div>

        </div>


        <!-- Overview -->
        <div class="row">
            <div class="col-md-10 mx-auto">
                <h2 class="content-heading block-left text-center" style="margin-bottom:3vh ;">Overview</h2>

                <p class="paragraph block-right">
                    An effective membership base consisting of 138581 technical teachers as Life Members, 3212 Institutional Members (including IITs, IISc., NITs and other leading technical institutions), 1467 faculty chapters and 1772 students’ chapters and 19 Sections at State level throughout the country.   
                </p>

                <p class="paragraph block-left">
                    The major objective of the ISTE is to provide quality training programmes to the teachers and the administrators of technical institutions. This is enabling to update their knowledge and skills in their fields and lead to the production and development of top-quality professional engineers and technicians needed by the industry and other organisations.
                </p>

                <p class="paragraph block-right">
                    Being the leading national organization of educators in the field of engineering and technology ISTE effectively contributes in various missions of the Union Government and coordinates meaningful interaction among technical institutions of Degree/ Diploma levels all over the country through seminars, workshops and conferences. It organizes an annual convention for faculty and students separately every year where a large number of technocrats, technical teachers, policy makers, experts from the industry etc. participate and interact.
                </p>

            </div>


        </div>


        <!-- BAckground -->

        <div class="row" style="margin-top: 5vh;">
            <div class="col-md-10 mx-auto">

                <h2 class="content-heading block-left text-center" style="margin-bottom:3vh ;">Background</h2>

                <div class="container">
                    <div class="row align-items-center">

                        <!-- Text Column -->
                      <div class="col-10 col-md-6 mx-auto">
                        <p class="paragraph block-left">
                            
                            The First Meeting of the Association of Principals of Technical Institutions in India was held at Delhi Polytechnic Delhi on Mondey, 28th July 1941.
                        </p>

                        <p class="paragraph block-left">
                            
                            Mr. John Sargent, M.A., C.I.E., Educational Commissioner with Government of India cum Joint Secretary; Department of Education, Health and Lands occupied the Chair.                       
                        </p>

                        <p class="paragraph block-left">

                            Principals from Delhi, Calcutta, Assam, Dhanbad, Bombay, Hyderabad, Agra, Pune, Howrah, Baroda, Karachi, Roorkee, Aligarh, Banaras, Patna, Lucknow were responsible for the preparation of APTI (I)’s Constitution and its Objectives.
                            
                        </p>

                      </div>
                      <!-- Image Column -->
                      <div class="col-10 col-md-6 text-center mx-auto">
                        <img src="images/about-us/Background.webp" class="img-fluid block-right" alt="Responsive Image" style="border-radius: 10px;" >
                      </div>
                      
                      
                    </div>
                </div>

                <p class="paragraph block-left"  style="margin-top: 3vh;">
                    The Meeting of A.P.T.I. (I) held at the University of Mysore, Mysore in 1968 took a decision to wind up voluntarily in favour of a newly Registered Society under the name “Indian Society for Technical Education” (ISTE) which was already registered as a Society under the Societies Registration Act of 1860 on 21st May 1968 in New Delhi.
                </p>

            </div>

        </div>

        <!-- Management -->

        <div class="row" style="margin-top: 5vh;">

            <div class="col-md-10 mx-auto">

                <h2 class="content-heading block-left text-center" style="margin-bottom:3vh ;">Management of ISTE</h2>
                <p class="paragraph block-right text-center">
                    <strong>
                        The affairs of the ISTE are managed by a National Executive Council consisting of
                    </strong>
                </p>
                <p class="paragraph block-left text-center">President,</p>
                <p class="paragraph block-right text-center">Vice President,</p>
                <p class="paragraph block-left text-center">Honorary Treasurer,</p>
                <p class="paragraph block-right text-center">Executive Secretary,</p>
                <p class="paragraph block-left text-center">Elected representatives of Sections &</p>
                <p class="paragraph block-right text-center">6 Nominated Members (atleast including one female member)</p>


                

            </div>

        </div>


       







</div>
    