
<!-- Title -->
<div class="row">
    <div class="col-md-12 mx-auto title-div-color">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center title-div-content">
            <h2 class="title-text">Corporate Institutional Membership​

            </h2>
            
            <span class="subtitle-container">
                <a href="" class="linked-text"><h6 class="subtitle-text text-color-change">Home</h6></a>
                <h6 class="subtitle-text "> > Corporate Institutional Membership​



                </h6>
            </span>
        </div> 
    </div> 
</div>


<div class="container">
    <div class="row" style="margin-top: 5vh;">
        <div class="col-md-10 mx-auto">


            
            

           <p class="paragraph block-left mb-4">
            ISTE is a National, professional organization with membership open to all sectors including corporate sectors connected with or interested in Industry-Academia collaboration. Its major objective is to assist and contribute  to  the  production  and  development  of  professional / Managers/Engineers  and  technicians of the best quality as needed by the Industry and other organizations.
           </p>

           <p class="paragraph block-left mb-4">

            In planning its role effectively, ISTE has to develop good linkages and bridge industry –academia gap and with this mind, ISTE has introduces “ Corporate Institutional Membership” for Corporate Sectors, Pubic or Pvt. Industry, PSUs including Maharatna/Navratna/Miniratna PSUs involved in IT/Consulting/Construction/Mfg./Oil & gas/petroleum/Energy/Power/ Pharma/ Automotives/ Automobile/FMCG/software etc


           </p>


           <p class="paragraph block-left mb-4">

            <strong>
                Corporate Institutional Membership is for Corporate Sector/Industrial Organization for effective Industry-Academia Partnership. The fee is Rs, 1,18,000/- (incl GST).

            </strong>

           </p>


           <p class="paragraph block-left mb-4">

            WE THEREFORE, REQUEST ALL CORPORATE SECTORS/PSUs, INDUSTRY AND OTHER ORGANISATION TO BECOME CORPORATE INSTITUTIONAL MEMBER OF THE ISTE AND THEREBY  HELP TO IMPROVE THE QUALITY AND RELEVANCE OF TECHNICAL EDUCATION.

           </p>


           <p class="paragraph block-left mb-4">

            CORPORATE INSTITUTIONAL MEMBERSHIP IS VALID FOR  LIFE TIME.


           </p>

           <p class="paragraph block-left mb-4 text-center">
            Bank Details for NEFT/RTGS:<br>
            Name of Account             –        ISTE Membership Fee A/C <br>
            Account No.                         –        6707247614<br>
            IFS Code                                 –        IDIB000M089<br>
            Branch                                     –        Mehrauli Road New Delhi <br>
            Bank Name                            –        Indian Bank<br>

           </p>

           <a href="downloadables/CIM Form.pdf" target="_blank" style="text-decoration: none;">

            <p class="paragraph text-color-change block-right">
                Download Form

            </p>

           </a>
           







            
        </div>

    </div>

</div>






