
<!-- Title -->
<div class="row">
    <div class="col-md-12 mx-auto title-div-color">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center title-div-content">
            <h2 class="title-text">Details of ISTE Student Conventions
            </h2>
            
            <span class="subtitle-container">
                <a href="" class="linked-text"><h6 class="subtitle-text text-color-change">Home</h6></a>
                <h6 class="subtitle-text "> > Details of ISTE Student Conventions
                </h6>
            </span>
        </div> 
    </div> 
</div>

<!-- Content -->

<!-- For ISTE Members -->

<div class="container">
    <div class="row" style="margin-top: 5vh; margin-bottom: 5vh;">
        <div class="col-md-10 mx-auto">

            <p class="caps-content text-center block-right mt-3 mb-3">
                Details of ISTE Student Conventions
            </p>

            <ul>
                <li class="block-left">

                    <strong>First</strong> Annual Convention of ISTE Students, BIET, Davengare (Karnataka), 11 & 12 October, 1998 – <strong>Role of Technical Students in Nation Building.</strong> Chief Guest: Hon’ble Dr. S. Rame Gowda, Chairman, AICTE, New Delhi.  

                </li>

                <li class="block-left">

                    <strong>Second</strong> Annual Convention of ISTE Students, SES College of Engineering, Kopargaon (Maharashtra), 30 & 31, October, 1999 – <strong>Challenges for Technical Students in the 21st Century.</strong> Chief Guest: Hon’ble Dr. Vinod N. Walivadekar, Director, CEDT, Aurangabad.

                </li>


                <li class="block-left">

                    <strong>Third</strong> Annual Convention of ISTE Students, Regional Engineering College, Jalandhar (Punjab), 14 & 15, October, 2000 – <strong>The Role of Information Technology in Technical Education.</strong> Chief Guest: Hon’ble Sardar Jagdish Singh Garcha, Minister for Technical Education and Industrial Training, Govt. of Punjab.

                </li>


                <li class="block-left">
                    <strong>Fourth</strong> Annual Convention of ISTE Students, Kongu Engineering College, Perundurai, Erode (T.N.), 28 & 29 July, 2001 – <strong>Harnessing Human Resources for the Development of India: Problems, Challenges and Opportunities.</strong> Chief Guest: Prof. N.R. Shelly, Member Secretary, IGNCA, New Delhi.
                </li>
                
                <li class="block-left">
                    <strong>Fifth</strong> Annual Convention of ISTE Students, Sant Longowal Institute of Engg. & Technology, Longowal, Sangrur (Punjab), 3 & 4 October, 2002 – <strong>Social Responsibility of Technical Institutions in Rural Development.</strong> Chief Guest: Hon’ble Shri Sukhdev Singh Dhindsa, Minister for Chemicals and Fertilisers, Govt. of India.
                </li>
                
                <li class="block-left">
                    <strong>Sixth</strong> Annual Convention of ISTE Students – JNTU, Hyderabad, 10-11 October, 2003 – <strong>Tuning Students to New Technology Developments.</strong> Chief Guest: Hon’ble Shri Nerella Anjaneyalu, Minister of Technical Education, Govt. of Andhra Pradesh.
                </li>
                
                <li class="block-left">
                    <strong>Seventh</strong> Annual Convention of ISTE Students – B & B Institute of Technology, Vallabh Vidyanagar (Gujarat), 30-31 October, 2004 – <strong>Vision 2020: Role of Engineering & Technology.</strong>
                </li>
                
                <li class="block-left">
                    <strong>Eighth</strong> Annual Convention of ISTE Students – Baba Banda Singh Bahadur Engineering College, Fatehgarh Sahib, Punjab, 21-23 October, 2005 – <strong>Impact of Technology on Societal Living.</strong> Chief Guest: Hon’ble Sardar Parkash Singh Badal, President, Shiromani Akali Dal and Former Chief Minister, Punjab.
                </li>
                
                <li class="block-left">
                    <strong>Ninth</strong> Annual Convention of ISTE Students – Adichunchanagiri Institute of Technology, Chikmagalur, Karnataka, October 6-7, 2006 – <strong>The Role of Technical Education in Societal Transformation.</strong> Chief Guest: Dr. N. Rudraiah, former Vice Chancellor, Gulbarga University.
                </li>
                
                <li class="block-left">
                    <strong>Tenth</strong> Annual Convention of ISTE Students – G.M.R. Institute of Technology, Rajam, Andhra Pradesh, October 5-6, 2007 – <strong>Technical Education Scenario in the Changing Paradigm of Globalisation.</strong> Chief Guest: Dr. L. Venugopala Reddy, Vice Chancellor, Andhra University, Visakhapatnam.
                </li>
                
                <li class="block-left">
                    <strong>Eleventh</strong> Annual Convention of ISTE Students – National Institute of Technology, Hamirpur, Himachal Pradesh, October 11-12, 2008 – <strong>Skill Sets Development and Employability of Students in Technical Education.</strong> Chief Guest: Prof R.S. Nirjar, former President, ISTE and Vice Chancellor, Gautam Buddha University, Greater Noida.
                </li>
                
                <li class="block-left">
                    <strong>Twelfth</strong> Annual Convention of ISTE Students – Bannari Amman Institute of Technology, Sathyamangalam, Erode Dist., Tamil Nadu, October 4-5, 2009 – <strong>Global Opportunities and Challenges of Technical Students.</strong> Chief Guest: Prof. M. Chidambaram, Director, National Institute of Technology, Tiruchirapalli.
                </li>
                
                <li class="block-left">
                    <strong>Thirteenth</strong> Annual Convention of ISTE Students – Jaipur Engineering College, Kukas, Jaipur (Rajasthan), October 2-3, 2010 – <strong>Nurturing Creativity among Potential Professionals through Technical Education.</strong> Chief Guest: Prof. N.V. Vasani, Vice Chancellor, Nirma University, Ahmedabad.
                </li>
                
                <li class="block-left">
                    <strong>Fourteenth</strong> Annual Convention of ISTE Students – Jayam College of Engineering & Technology, Dharmapuri (TN), September 30th and October 1, 2011 – <strong>Green Engineering for Sustainable Development.</strong> Chief Guest: Dr. M.S. Palanichamy, Vice Chairman, Tamilnadu State Council for Technical Education.
                </li>
                
                <li class="block-left">
                    <strong>Fifteenth</strong> Annual Convention of ISTE Students – Sou. Sushila Danchand Ghodawat Charitable Trust’s Sanjay Ghodawat Group of Institutions, Atigre, Dist. Kolhapur (Maharashtra), October 12th & 13th, 2012 – <strong>Technocrats Vision in Sculptin India Super Power.</strong> Chief Guest: Dr. N.R. Shetty, Former President, ISTE.
                </li>
                
                <li class="block-left">
                    <strong>Sixteenth</strong> Annual Convention of ISTE Students – Periyar Manniammai University, Thanjavur, Vallam (Tamil Nadu), October 27th & 28th, 2013 – <strong>Social Responsibility of Technical Students in Environmental Sustainability.</strong> Chief Guest: Dr. K. Veeramani, Chancellor, Periyar Maniammai University, Thanjavur.
                </li>
                
                <li class="block-left">
                    <strong>Seventeenth</strong> Annual Convention of ISTE Students –  V.V.P. Engineering College, Rajkot (Gujarat), October 10th & 11th, 2014 – <strong>Sustainable Developments through Innovative Technologies.</strong> Chief Guest: Hon’ble Shri Om Prakash Kohli, Governor of Gujarat.
                </li>
                
                <li class="block-left">
                    <strong>Eighteenth</strong> Annual Convention of ISTE Students – Kings College of Engineering, Punalkulam, Thanjavur Dist. (Tamil Nadu), October 30th & 31st, 2015 – <strong>Technology for Rural Development to Accomplish Vision India – 2020.</strong>
                </li>
                
                <li class="block-left">
                    <strong>Nineteenth</strong> Annual Convention of ISTE Students – VIT University, Vellore, October 15-16, 2016, <strong>Evolving Technical Trends in India Meet Challenges Beyond 2025.</strong>
                </li>
                
                <li class="block-left">
                    <strong>Twentieth</strong> Annual Convention of ISTE Students – Regional Institute of Science & Technology, Meghalaya (Assam), October 28th & 29th, 2017
                </li>
                
                <li class="block-left">
                    <strong>Twentyfirst</strong> Annual Convention of ISTE Students – L.D. College of Engineering, Ahmedabad, Ahmedabad (Gujarat), January 29th – 30th, 2019 – <strong>Empowering India Through Innovations.</strong>
                </li>


            </ul>

            





        </div>

    </div>

</div>






