
<!-- Title -->
<div class="row">
    <div class="col-md-12 mx-auto title-div-color">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center title-div-content">
            <h2 class="title-text">Check your Institutional Membership No
            </h2>
            
            <span class="subtitle-container">
                <a href="" class="linked-text"><h6 class="subtitle-text text-color-change">Home</h6></a>
                <h6 class="subtitle-text "> > Check your Institutional Membership No
                </h6>
            </span>
        </div> 
    </div> 
</div>



<div class="container">
    <div class="row" style="margin-top: 5vh;">
        <div class="col-md-10 mx-auto">

            <div class="container mt-3">
                
                <table class="table table-striped table-bordered table-hover text-center shadow mb-5">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">State</th>
                        <th scope="col">State</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="downloadables/institutional-membership/AASAM.pdf" target="_blank" style="text-decoration: none;"><span class="paragraph text-color-change linked-text">ASSAM</span></a></td>
                            <td><a href="downloadables/institutional-membership/KARNATAKA.pdf" target="_blank" style="text-decoration: none;"><span class="paragraph text-color-change linked-text">KARNATAKA</span></a></td>
                        </tr>
                        <tr>
                            <td><a href="downloadables/institutional-membership/ANDHRA PRADESH.pdf" target="_blank" style="text-decoration: none;"><span class="paragraph text-color-change linked-text">ANDHRA PRADESH</span></a></td>
                            <td><a href="downloadables/institutional-membership/IM Kerala.pdf" target="_blank" style="text-decoration: none;"><span class="paragraph text-color-change linked-text">KERALA</span></a></td>
                        </tr>
                        <tr>
                            <td><a href="downloadables/institutional-membership/Bihar.pdf" target="_blank" style="text-decoration: none;"><span class="paragraph text-color-change linked-text">BIHAR</span></a></td>
                            <td><a href="downloadables/institutional-membership/MADHYA PRADESH.pdf" target="_blank" style="text-decoration: none;"><span class="paragraph text-color-change linked-text">MADHYA PRADESH</span></a></td>
                        </tr>
                        <tr>
                            <td><a href="downloadables/institutional-membership/CHHATISGARH.pdf" target="_blank" style="text-decoration: none;"><span class="paragraph text-color-change linked-text">CHHATISGARH</span></a></td>
                            <td><a href="downloadables/institutional-membership/MAHARASHTRA.pdf" target="_blank" style="text-decoration: none;"><span class="paragraph text-color-change linked-text">MAHARASHTRA</span></a></td>
                        </tr>
                        <tr>
                            <td><a href="downloadables/institutional-membership/DELHI.pdf" target="_blank" style="text-decoration: none;"><span class="paragraph text-color-change linked-text">DELHI</span></a></td>
                            <td><a href="downloadables/institutional-membership/MANIPUR.pdf" target="_blank" style="text-decoration: none;"><span class="paragraph text-color-change linked-text">MANIPUR</span></a></td>
                        </tr>
                        <tr>
                            <td><a href="downloadables/institutional-membership/GOA.pdf" target="_blank" style="text-decoration: none;"><span class="paragraph text-color-change linked-text">GOA</span></a></td>
                            <td><a href="downloadables/institutional-membership/MEGHALAYA.pdf" target="_blank" style="text-decoration: none;"><span class="paragraph text-color-change linked-text">MEGHALAYA</span></a></td>
                        </tr>
                        <tr>
                            <td><a href="downloadables/institutional-membership/GUJARAT.pdf" target="_blank" style="text-decoration: none;"><span class="paragraph text-color-change linked-text">GUJARAT</span></a></td>
                            <td><a href="downloadables/institutional-membership/MIZORAM.pdf" target="_blank" style="text-decoration: none;"><span class="paragraph text-color-change linked-text">MIZORAM</span></a></td>
                        </tr>
                        <tr>
                            <td><a href="downloadables/institutional-membership/HARYANA.pdf" target="_blank" style="text-decoration: none;"><span class="paragraph text-color-change linked-text">HARYANA</span></a></td>
                            <td><a href="downloadables/institutional-membership/NAGALAND.pdf" target="_blank" style="text-decoration: none;"><span class="paragraph text-color-change linked-text">NAGALAND</span></a></td>
                        </tr>
                        <tr>
                            <td><a href="downloadables/institutional-membership/HIMACHAL PRADESH.pdf" target="_blank" style="text-decoration: none;"><span class="paragraph text-color-change linked-text">HIMACHAL PRADESH</span></a></td>
                            <td><a href="downloadables/institutional-membership/NEPAL.pdf" target="_blank" style="text-decoration: none;"><span class="paragraph text-color-change linked-text">NEPAL</span></a></td>
                        </tr>
                        <tr>
                            <td><a href="downloadables/institutional-membership/J&K.pdf" target="_blank" style="text-decoration: none;"><span class="paragraph text-color-change linked-text">J&K</span></a></td>
                            <td><a href="downloadables/institutional-membership/ORISSA.pdf" target="_blank" style="text-decoration: none;"><span class="paragraph text-color-change linked-text">ORISSA</span></a></td>
                        </tr>
                        <tr>
                            <td><a href="downloadables/institutional-membership/JHARKAND.pdf" target="_blank" style="text-decoration: none;"><span class="paragraph text-color-change linked-text">JHARKHAND</span></a></td>
                            <td><a href="downloadables/institutional-membership/PONDICHERRY.pdf" target="_blank" style="text-decoration: none;"><span class="paragraph text-color-change linked-text">PONDICHERRY</span></a></td>
                        </tr>
                        <tr>
                            <td><a href="downloadables/institutional-membership/PUNJAB.pdf" target="_blank" style="text-decoration: none;"><span class="paragraph text-color-change linked-text">PUNJAB</span></a></td>
                            <td><a href="downloadables/institutional-membership/RAJASTHAN.pdf" target="_blank" style="text-decoration: none;"><span class="paragraph text-color-change linked-text">RAJASTHAN</span></a></td>
                        </tr>
                        <tr>
                            <td><a href="downloadables/institutional-membership/TAMIL NADU.pdf" target="_blank" style="text-decoration: none;"><span class="paragraph text-color-change linked-text">TAMIL NADU</span></a></td>
                            <td><a href="downloadables/institutional-membership/TELANGANA.pdf" target="_blank" style="text-decoration: none;"><span class="paragraph text-color-change linked-text">TELANGANA</span></a></td>
                        </tr>
                        <tr>
                            <td><a href="downloadables/institutional-membership/UTTRANCHAL.pdf" target="_blank" style="text-decoration: none;"><span class="paragraph text-color-change linked-text">UTTARANCHAL</span></a></td>
                            <td><a href="downloadables/institutional-membership/Uttarakhand.pdf" target="_blank" style="text-decoration: none;"><span class="paragraph text-color-change linked-text">UTTARAKHAND</span></a></td>
                        </tr>
                        <tr>
                            <td><a href="downloadables/institutional-membership/SIKKIM.pdf" target="_blank" style="text-decoration: none;"><span class="paragraph text-color-change linked-text">SIKKIM</span></a></td>
                            <td><a href="downloadables/institutional-membership/WEST BENGAL.pdf" target="_blank" style="text-decoration: none;"><span class="paragraph text-color-change linked-text">WEST BENGAL</span></a></td>
                        </tr>
                        
                    </tbody>
                  </table>

              </div>



        </div>

    </div>

</div>






