
<!-- Title -->
<div class="row">
    <div class="col-md-12 mx-auto title-div-color">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center title-div-content">
            <h2 class="title-text">Check your Institutional Membership No
            </h2>
            
            <span class="subtitle-container">
                <a href="" class="linked-text"><h6 class="subtitle-text text-color-change">Home</h6></a>
                <h6 class="subtitle-text "> > Check your Institutional Membership No
                </h6>
            </span>
        </div> 
    </div> 
</div>

<!-- Content -->

<!-- For ISTE Members -->

<div class="container">
    <div class="row" style="margin-top: 5vh;">
        <div class="col-md-10 mx-auto">

            <div class="container mt-3">
                
                <table class="table table-striped table-bordered table-hover text-center shadow mb-5">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">State</th>
                        <th scope="col">State</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr><td>ASSAM</td><td>KARNATAKA</td></tr>
                        <tr><td>ANDHRA PRADESH</td><td>KERALA</td></tr>
                        <tr><td>BIHAR</td><td>MADHYA PRADESH</td></tr>
                        <tr><td>CHHATISGARH</td><td>MAHARASHTRA</td></tr>
                        <tr><td>DELHI</td><td>MANIPUR</td></tr>
                        <tr><td>GOA</td><td>MEGHALAYA</td></tr>
                        <tr><td>GUJARAT</td><td>MIZORAM</td></tr>
                        <tr><td>HARYANA</td><td>NAGALAND</td></tr>
                        <tr><td>HIMACHAL PRADESH</td><td>NEPAL</td></tr>
                        <tr><td>J&K</td><td>ORISSA</td></tr>
                        <tr><td>JHARKHAND</td><td>PONDICHERRY</td></tr>
                        <tr><td>PUNJAB</td><td>RAJASTHAN</td></tr>
                        <tr><td>TAMIL NADU</td><td>TELANGANA</td></tr>
                        <tr><td>UTTARANCHAL</td><td>UTTARAKHAND</td></tr>
                        <tr><td>SIKKIM</td><td>WEST BENGAL</td></tr>
                                        </tbody>
                  </table>

              </div>



        </div>

    </div>

</div>






