
<!-- Title -->
<div class="row">
    <div class="col-md-12 mx-auto title-div-color">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center title-div-content">
            <h2 class="title-text">Self-Financing-STTP</h2>
            
            <span class="subtitle-container">
                <a href="" class="linked-text"><h6 class="subtitle-text text-color-change">Home</h6></a>
                <h6 class="subtitle-text "> > Self-Financing-STTP</h6>
            </span>
        </div> 
    </div> 
</div>

<!-- Content -->

<!-- For ISTE Members -->

<div class="container">
    <div class="row" style="margin-top: 5vh;">
        <div class="col-md-10 mx-auto bordered-div">

            <h2 class="content-heading">Guidelines to be followed for 
                Online Programme by the Organising Institute</h2>

            <h4 class="content-subheading">
                Immediately after approval from ISTE
            </h4>

            <ul>
                <li>
                    Link of FDP program brochure or template.
                </li>
                <li>
                    Link of registration for faculties.
                </li>
                <li>
                    Details of the program, day-wise.
                </li>
                <li>
                    List of Resource persons.
                </li>
                <li>
                    Topic and the outcome expected post the event.
                </li>
            </ul>

            <h4 class="content-subheading">
                Immediately after approval from ISTE
            </h4>

            <ul>
                <li>
                    Response sheet of participants received for considering total number of participants.
                </li>
            </ul>

            <h4 class="content-subheading">
                From Day 1 to till end every day before and after session (day)
            </h4>

            <ul>
                <li>
                    Link of invitation of every session with password for joining.
                </li>
                <li>
                    Attendance in respective online tools of attendee in screen shot or other format.
                </li>
                <li>
                    Output response/ any test conducted every day or end of the FDP.
                </li>
                <li>
                    Final results.
                </li>
                <li>
                    Response sheet of feedback of attendees on last day.
                </li>
            </ul>

            <h4 class="content-subheading">
                Post the conduct of the event, the institute will submit the outcomes 
                achieved from the program.
            </h4>

            <p class="paragraph">
                SHARE A GOOGLE DRIVE LINK WITH ISTE IN WHICH INSTITUTE WILL 
                UPDATE THE THINGS ON DAILY BASIS.
            </p>

            <h4 class="content-subheading">
                Guidelines
            </h4>

            <p class="paragraph">
                There is a limited budgetary provision for the STTPs under 
                the overall QIP Scheme of the MHRD/ AICTE. Therefore, in order 
                to enable the teachers to enhance their technical competencies 
                and help them to become eligible for Career Advancement opportunities, 
                STTPs on self-financing basis are introduced. The special features 
                of the Self Financing STTPs are as under:
            </p>

            <ul>
                <li>
                    These are programmes being conducted locally.
                </li>
                <li>
                    The participating teacher is not required to take leave.
                </li>
                <li>
                    The academic schedule of the institution is not affected.
                </li>
                <li>
                    Boarding & lodging of participants are not required.
                </li>
                <li>
                    TA/DA expenses are zero.
                </li>
                <li>
                    The expenses to be incurred on Guest Experts, Instructional 
                    Material, etc. could be met by the concerned institute itself.                
                </li>
                <li>
                    The nominal course fee of <strong style="color: black;">Rs. 1180/- (1000 + 18% GST)</strong> per participants 
                    to be necessarily paid to the ISTE Headquarters after completion 
                    of the programme.
                </li>
            </ul>

            <p class="paragraph">
                The Member Institutes/Faculty interested in the conduct of Self-Financing STTPs, 
                may please send their proposals alongwith fee <strong style="color: black;"> Rs. 1180/- (1000 + 18% GST)</strong> by 
                NEFT/RTGS in the following ISTE Account:
            </p>


            <p class="paragraph">
                <strong style="color: black;">Name of Account:</strong>  Membership Fee,<br>
                <strong style="color: black;">Account No:</strong> 6707264714,<br>
                <strong style="color: black;">Bank:</strong> Indian Bank,<br>
                <strong style="color: black;">IFSC Code:</strong> IDIB000M089,<br>
                <strong style="color: black;">Branch:</strong> Mehrauli Road New Delhi<br>    
            </p>

            <p class="paragraph">
                in the prescribed STTP proforma on the following address:
            </p>

            <p class="paragraph">
                The Executive Secretary<br>
                Indian Society for Technical Education<br>
                Sahdev Singh Marg,<br>
                New Delhi – 110 016<br>
                Email: istedhq&#64;isteonline.org, technical&#64;isteonline.org<br>  
                Website: <a href="" style="text-decoration: none; color: #7A7A7A;"><strong>www.isteonline.in</strong></a>
            </p>
        </div>

        
        <div class="col-md-10 mx-auto">
            <button 
                class="custom-button" 
                (click)="downloadPDF()"
                style="margin-bottom: 3vh;">
                <mat-icon class="icon">download</mat-icon> Download Proforma
            </button>

        </div>
    </div>


</div>






