
<!-- Title -->
<div class="row">
    <div class="col-md-12 mx-auto title-div-color">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center title-div-content">
            <h2 class="title-text">Membership Cards & Certificates</h2>
            
            <span class="subtitle-container">
                <a href="" class="linked-text"><h6 class="subtitle-text text-color-change">Home</h6></a>
                <h6 class="subtitle-text "> > Membership Cards & Certificates</h6>
            </span>
        </div> 
    </div> 
</div>

<!-- Content -->

<!-- For ISTE Members -->

<div class="container">
    <div class="row" style="margin-top: 5vh;">
        <div class="col-md-10 mx-auto">

            <p class=" paragraph mt-4">
                The life Members will be issued plastic laminated photo cards. The Life Members who have been issued card-board cards earlier could also get the newly introduced plastic cards by way of making a payment of Rs. 100/- by way of a DD in favour of ISTE New Delhi payable at New Delhi. In addition, Life Members are given Membership Certificates. The lost or damaged Membership Plastic Cards & Certificates will be replaced only on payment of Rs. 50/- & Rs. 50/- respectively.
            </p>


        </div>

    </div>

</div>






