
<!-- Title -->
<div class="row">
    <div class="col-md-12 mx-auto title-div-color">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center title-div-content">
            <h2 class="title-text">IJTE Special Issue</h2>
            
            <span class="subtitle-container">
                <a href="" class="linked-text"><h6 class="subtitle-text text-color-change">Home</h6></a>
                <h6 class="subtitle-text "> > IJTE Special Issue</h6>
            </span>
        </div> 
    </div> 
</div>

<!-- Content -->

<!-- For ISTE Members -->

<div class="container">
    <div class="row" style="margin-top: 5vh;">
        <div class="col-md-10 mx-auto">

            <h4 class="content-subheading text-center block-right">
                Indian Journal of Technical Education (IJTE) Special Issues
            </h4>

            
            <div class="container mt-5">
                <table class="table table-striped table-bordered table-hover text-center shadow">
                  <thead class="thead-dark">
                    <tr>
                      <th class="" scope="col">2024</th>
                      <th class="" scope="col">2023</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td class="">
                        <a href="downloadables/Spl-Issue/Spl issue 1 Oct 2024 for web.pdf" target="_blank"
                          style="text-decoration: none;"><span class="text-color-change paragraph">Vol.47 - No. 1 - October
                            2024</span></a>
                      </td>
        
                      <td class="">
                        <a href="downloadables/Spl-Issue/Spl issue 2 December 2023 for web uploading.pdf" target="_blank"
                          style="text-decoration: none;"><span class="text-color-change paragraph">Vol.46- No.2 – December
                            2023</span></a>
                      </td>
                    </tr>
                    <tr>
                      <td class="">
                        <span class="text-color-change paragraph">Vol.47 - Septembar 2024</span>
                      </td>
        
                      <td class="">
                        <a href="downloadables/Spl-Issue/Special issue Dec 2023.pdf" target="_blank"
                          style="text-decoration: none;"><span class="text-color-change paragraph">Vol.46- No. 1 - December
                            2023</span></a>
                      </td>
                    </tr>
        
                    <tr>
                      <td class="">
                        <a href="downloadables/Spl-Issue/Spl issue 2 August 2024 for web uploading.pdf" target="_blank"
                          style="text-decoration: none;">
                          <span class="text-color-change paragraph">Vol.47 - No. 2 - August 2024</span>
                        </a>
                      </td>
                      <td class="">
                        <a href="downloadables/Spl-Issue/Special Issue Nov 2023.pdf" target="_blank"
                          style="text-decoration: none;">
                          <span class="text-color-change paragraph">Vol.47 - No. 2 - November 2023</span>
                        </a>
                      </td>
                    </tr>
        
                    <tr>
                      <td class="">
                        <a href="downloadables/Spl-Issue/Spl issue 1 August 2024 web (4).pdf" target="_blank"
                          style="text-decoration: none;">
                          <span class="text-color-change paragraph">Vol.47- No. 2 - August 2024</span>
                        </a>
                      </td>
                      <td class="">
                        <a href="downloadables/Spl-Issue/Special issue September 2023.pdf" target="_blank"
                          style="text-decoration: none;">
                          <span class="text-color-change paragraph"> Vol.46- September 2023 </span>
                        </a>
                      </td>
                    </tr>
        
                    <tr>
                      <td class="">
                        <a href="downloadables/Spl-Issue/Spl issue 2 July 2024.pdf" target="_blank"
                          style="text-decoration: none;">
                          <span class="text-color-change paragraph"> Vol.47- No. 2 - July 2024</span>
                        </a>
                      </td>
                      <td class="">
                        <a href="downloadables/Spl-Issue/Special issue Aug 2023.pdf" target="_blank"
                          style="text-decoration: none;">
                          <span class="text-color-change paragraph"> Vol.46- August 2023 </span>
                        </a>
                      </td>
                    </tr>
        
                    <tr>
                      <td class="">
                        <a href="downloadables/Spl-Issue/Spl issue 1 July 2024 for web uploading (1).pdf" target="_blank"
                          style="text-decoration: none;">
                          <span class="text-color-change paragraph"> Vol.47- No. 1 - July 2024</span>
                        </a>
                      </td>
                      <td class="">
                        <a href="downloadables/Spl-Issue/Special issue July 2023.pdf" target="_blank"
                          style="text-decoration: none;">
                          <span class="text-color-change paragraph"> Vol.46- July 2023 </span>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td class="">
                        <a href="downloadables/Spl-Issue/Spl issue 2 June 2024 for web uploading.pdf" target="_blank"
                          style="text-decoration: none;">
                          <span class="text-color-change paragraph"> Vol.47- No. 2 - June 2024</span>
                        </a>
                      </td>
                      <td class="">
                        <a href="downloadables/Spl-Issue/Special issue June 2023 web color.pdf" target="_blank"
                          style="text-decoration: none;">
                          <span class="text-color-change paragraph">Vol.46- June 2023 </span>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td class="downloadables/Spl-Issue/Spl issue 1 June 2024 for web uploading.pdf">
                        <a href="" target="_blank" style="text-decoration: none;">
                          <span class="text-color-change paragraph"> Vol.47- No. 1 - June 2024</span>
                        </a>
                      </td>
                      <td class="">
                        <a href="downloadables/Spl-Issue/Special Issue May 2023.pdf" target="_blank"
                          style="text-decoration: none;">
                          <span class="text-color-change paragraph">Vol.46- May 2023 </span>
                        </a>
                      </td>
                    </tr>
        
                    <tr>
                      <td class="">
                        <a href="downloadables/Spl-Issue/Spl issue 2 May 2024 for web uploading (2).pdf" target="_blank"
                          style="text-decoration: none;">
                          <span class="text-color-change paragraph">Vol.47 - No. 2 - May 2024</span>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td class="">
                        <a href="downloadables/Spl-Issue/Spl issue 1 May 2024 for web uploading.pdf" target="_blank"
                          style="text-decoration: none;">
                          <span class="text-color-change paragraph">Vol.47 - No. 1 - May 2024</span>
                        </a>
                      </td>
                    </tr>
                    <tr>
                    <tr>
                      <td class="">
                        <a href="downloadables/Spl-Issue/Spl issue 2 April 2024.pdf" target="_blank"
                          style="text-decoration: none;">
                          <span class="text-color-change paragraph">Vol.47 - No. 2 - April 2024</span>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td class="">
                        <a href="downloadables/Spl-Issue/Spl_issue_1_April_2024_for_web_uploading.pdf" target="_blank"
                          style="text-decoration: none;">
                          <span class="text-color-change paragraph">Vol.47 - No. 1 - April 2024</span>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td class="">
                        <a href="downloadables/Spl-Issue/Spl issue 2 March 2024 for web uploading (2).pdf" target="_blank"
                          style="text-decoration: none;">
                          <span class="text-color-change paragraph">Vol.47 - No. 2 - March 2024</span>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td class="">
                        <a href="downloadables/Spl-Issue/Special issue 1 March 2024.pdf" target="_blank"
                          style="text-decoration: none;">
                          <span class="text-color-change paragraph">Vol.47 - No. 1 - March 2024</span>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td class="">
                        <a href="downloadables/Spl-Issue/Spl issue 2 February 2024.pdf" target="_blank"
                          style="text-decoration: none;">
                          <span class="text-color-change paragraph">Vol.47 - No. 2 - February 2024</span>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td class="">
                        <a href="downloadables/Spl-Issue/Special issue 1 Feb 2024.pd" target="_blank"
                          style="text-decoration: none;">
                          <span class="text-color-change paragraph">Vol.47 - No. 1 - February 2024</span>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td class="">
                        <a href="downloadables/Spl-Issue/Spl issue 2 Jan 2024 for web uploading (1).pdf" target="_blank"
                          style="text-decoration: none;">
                          <span class="text-color-change paragraph">Vol.47 - No. 2 - January 2024</span>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td class="">
                        <a href="downloadables/Spl-Issue/Special Issue Jan 2024.pdf" target="_blank"
                          style="text-decoration: none;">
                          <span class="text-color-change paragraph">Vol.47 - No. 1 - January 2024</span>
                        </a>
                      </td>
                    </tr>
                
                  </tbody>
                 
                </table>
              </div>

            <p class="paragraph block-left">
                ISTE publishes papers presented at their National/International 
                Conferences in a dedicated Special Issue of the Indian Journal 
                of Technical Education (IJTE). For more information, 
                please contact the editor at editor&#64;isteonline.org.
            </p>

            <p class="paragraph block-left">
                <strong>
                    (Executive Secretary, ISTE)
                </strong>
      
            </p>
              
              
            
        </div>

    </div>


</div>






