
<!-- Title -->
<div class="row">
    <div class="col-md-12 mx-auto title-div-color">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center title-div-content">
            <h2 class="title-text">Life Time Membership            </h2>
            
            <span class="subtitle-container">
                <a href="" class="linked-text"><h6 class="subtitle-text text-color-change">Home</h6></a>
                <h6 class="subtitle-text "> > Life Time Membership
                </h6>
            </span>
        </div> 
    </div> 
</div>

<!-- Content -->

<!-- For ISTE Members -->

<div class="container">
    <div class="row" style="margin-top: 5vh;">
        <div class="col-md-10 mx-auto">

           


            <p class=" caps-content block-right mt-4">
                ELIGIBILITY FOR MEMBERSHIP
            </p>

            <p class=" caps-content block-left mt-4 mb-4">Bye-Laws 2 (ii) and (iii) of the Society read as under:              </p>

            <p class="content-heading mb-2">(ii) Life Membership</p>

            <ol>
                <li class="block-left">
                    A person who satisfies the eligibility critera as mentioned in clause 2 (iii) may become a life member of ISTE by paying the admissible Life Membership fee as decided from time to time, by the Executive Council.                 </li>
            
            </ol>


            <p class="content-heading block-right mb-2">(iii) Membership : Eligibility Criteria:            </p>



            <ol>
                <li class="block-left">
                    Any person of Indian Origin or a foreign National holding a University Degree/Diploma or an equivalent qualification and who is/had been employed on the teaching faculty of a recognised technical institution; or a person having a technical academic qualification working in a Technical/Research Institute is ELIGIBLE for Membership 
                </li>
                <li class="block-left">
                    Application for membership shall be made on the prescribed form of the Society. 

                </li>
                <li class="block-left">
                    Application for Membership shall be recommended by a Life Member of the Society. 

                </li>

                <li class="block-left">
                    Such application shall be approved the Executive Council or by an Office Bearer of the Society authorized by the Executive Council for this purpose before the membership is approved. 

                </li>
                <li class="block-left">
                    The Executive Council shall bave the power to refuse admission to any applicant without assigning any reason.

                </li>

            </ol>

            <p class="paragraph block-left">



                From January 2022, ISTE has launched 

                <a href="https://membership.isteonline.in/" style="text-decoration: none;">
                    <span class="paragraph linked-text text-color-change">
                        Online Portal. 
                    </span>
                
                </a>


                for all membership related work viz. new application for Institutional Membership, Life Membership, Student Membership and payment of fee via the same  



                <a href="https://membership.isteonline.in/" style="text-decoration: none;">
                    <span class="paragraph linked-text text-color-change">
                        Online Portal. 
                    </span>
                
                </a>
                
            </p>

            <p class="paragraph block-left">
                All the recognised Technical Institutions/Institutional Members of ISTE/AICTE approved engineering colleges (degree & diploma)/Polytechnics/Life Members of ISTE requested to kindly utilize this Online Web Portal ​for applying and making payments.


            </p>

            <p class="paragraph block-left">



                Online web portal : 

                <a style="text-decoration: none;" href="https://membership.isteonline.in/" target="_blank">
                    <span class="paragraph linked-text text-color-change">
                        https://membership.isteonline.in/
                    </span>
    
                </a>

            </p>


            <p class="paragraph block-left">
                <strong>No manual form or DD will be accepted.</strong>
            </p>
            

        </div>

    </div>

</div>






