
<div class="row">
    <div class="col-md-12 mx-auto title-div-color">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center title-div-content">
            <h2 class="title-text">ISTE Gallery</h2>
            
            <span class="subtitle-container">
                <a href="" class="linked-text"><h6 class="subtitle-text text-color-change">Home</h6></a>
                <h6 class="subtitle-text "> > ISTE Gallery</h6>
            </span>
        </div> 
    </div> 
</div>



<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="body-content text-center">
                <div class="box">
                    <span style="--i:1"><img src="images/gallery/slider/1.webp"></span>
                    <span style="--i:2"><img src="images/gallery/slider/2.webp"></span>
                    <span style="--i:3"><img src="images/gallery/slider/3.webp"></span>
                    <span style="--i:4"><img src="images/gallery/slider/4.webp"></span>
                    <span style="--i:5"><img src="images/gallery/slider/5.webp"></span>
                    <span style="--i:6"><img src="images/gallery/slider/6.webp"></span>
                    <span style="--i:7"><img src="images/gallery/slider/7.webp"></span>
                    <span style="--i:8"><img src="images/gallery/slider/8.webp"></span>
                    <span style="--i:9"><img src="images/gallery/slider/9.webp"></span>
                    <span style="--i:10"><img src="images/gallery/slider/10.webp"></span>
					<span style="--i:11"><img src="images/gallery/slider/11.webp"></span>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container text-center">
	<div class="row">
		<div class="col-md-4 mx-auto">
			<img class="image-size block-left" src="images/gallery/slider/1.webp">
		</div>
		<div class="col-md-4 mx-auto">
			<img class="image-size block-left" src="images/gallery/slider/2.webp">
		</div>
		<div class="col-md-4 mx-auto">
			<img class="image-size block-left" src="images/gallery/slider/3.webp">
		</div>
	</div>
</div>



<div class="container text-center">
	<div class="row">
		<div class="col-md-4 mx-auto">
			<img class="image-size block-right" src="images/gallery/gallery/1001-768x354.webp">
		</div>
		<div class="col-md-4 mx-auto">
			<img class="image-size block-right" src="images/gallery/gallery/1002-768x576.webp">
		</div>
		<div class="col-md-4 mx-auto">
			<img class="image-size block-right" src="images/gallery/gallery/1003-768x558.webp">
		</div>
	</div>
</div>


<div class="container text-center">
	<div class="row">
		<div class="col-md-4 mx-auto">
			<img class="image-size block-left" src="images/gallery/gallery/1004-768x518.webp">
		</div>
		<div class="col-md-4 mx-auto">
			<img class="image-size block-left" src="images/gallery/gallery/1006-768x513.webp">
		</div>
		<div class="col-md-4 mx-auto">
			<img class="image-size block-left" src="images/gallery/gallery/1005-768x512.webp">
		</div>
	</div>
</div>


<div class="container text-center">
	<div class="row">
		<div class="col-md-4 mx-auto">
			<img class="image-size block-right" src="images/gallery/gallery/1007-768x513.webp">
		</div>
		<div class="col-md-4 mx-auto">
			<img class="image-size block-right" src="images/gallery/gallery/1008-768x512.webp">
		</div>
		<div class="col-md-4 mx-auto">
			<img class="image-size block-right" src="images/gallery/gallery/1009-768x512.webp">
		</div>
	</div>
</div>


<div class="container text-center">
	<div class="row">
		<div class="col-md-4 mx-auto">
			<img class="image-size block-left" src="images/gallery/gallery/1010-768x512.webp">
		</div>
		<div class="col-md-4 mx-auto">
			<img class="image-size block-left" src="images/gallery/gallery/1011-768x512.webp">
		</div>
		<div class="col-md-4 mx-auto">
			<img class="image-size block-left" src="images/gallery/gallery/1012-768x512.webp">
		</div>
	</div>
</div>


<div class="container text-center">
	<div class="row">
		<div class="col-md-4 mx-auto">
			<img class="image-size block-right" src="images/gallery/gallery/1014-768x512.webp">
		</div>
		<div class="col-md-4 mx-auto">
			<img class="image-size block-right" src="images/gallery/gallery/1015-768x512.webp">
		</div>
		<div class="col-md-4 mx-auto">
			<img class="image-size block-right" src="images/gallery/gallery/1016-768x512.webp">
		</div>
	</div>
</div>


<div class="container text-center">
	<div class="row">
		<div class="col-md-4 mx-auto">
			<img class="image-size block-left" src="images/gallery/gallery/1017-768x512.webp">
		</div>
		<div class="col-md-4 mx-auto">
			<img class="image-size block-left" src="images/gallery/gallery/1018-768x512.webp">
		</div>
		<div class="col-md-4 mx-auto">
			<img class="image-size block-left" src="images/gallery/gallery/1019-768x512.webp">
		</div>
	</div>
</div>




