
<!-- Title -->
<div class="row">
    <div class="col-md-12 mx-auto title-div-color">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center title-div-content">
            <h2 class="title-text">Office Bearers of ISTE</h2>
            
            <span class="subtitle-container">
                <a href="" class="linked-text"><h6 class="subtitle-text text-color-change">Home</h6></a>
                <h6 class="subtitle-text "> > Office Bearers of ISTE</h6>
            </span>
        </div> 
    </div> 
</div>

<!-- Content -->


<div class="container my-5">
  <div class="row d-flex justify-content-center align-items-center">
    <!-- President Card -->
   
    <div class="col-md-4">
        <div class="card p-2 hover-card">
          <img src="images/office-bearers/9_president.jpg" class="card-img-top" alt="Profile Image">
          <div class="card-body text-center">
            <h5 class="card-title">Dr. Pratapsinh Kakaso Desai</h5>
            <h6 class="card-subtitle mb-2 text-muted">President, ISTE</h6>
            <p class="card-text">
              Plot No. 40, Chavan Colony<br>
              Infront of Kalamba Jail<br>
              Kolhapur - 416012<br>
              08237447711 (M)<br>
              Email: pratapd96&#64;gmail.com
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card p-2 hover-card">
          <img src="images/office-bearers/woocommerce-placeholder.png" class="card-img-top" alt="Profile Image">
          <div class="card-body text-center">
            <h5 class="card-title">Dr. R. Murugesan</h5>
            <h6 class="card-subtitle mb-2 text-muted">Past President</h6>
            <p class="card-text">
                Former President, ISTE & <br>
                (Former Vice Chancellor Anna University of Technology, Madurai)<br>
                Ranganathan Engineering College <br>
                REC Kalvi Nagar,<br>
                Thondamuthur, Coimbatore – 641 109 (T.N.)<br>
              +91 - 9443317930 (M)<br>
              Email: vcautmdu&#64;gmail.com
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card p-2 hover-card">
          <img src="images/office-bearers/Sri-R-Bhaskar.jpg" class="card-img-top" alt="Profile Image">
          <div class="card-body text-center">
            <h5 class="card-title">Shri R. Baskar</h5>
            <h6 class="card-subtitle mb-2 text-muted">Vice Presidents</h6>
            <p class="card-text">
                Principal I/C Govt. Polytechnic College<br>
              Arakandanallur, Villupuram – 605 705<br>
              +91 - 9444942640 (M)<br>
              Email: rbaskar1995&#64;gmail.com
            </p>
          </div>
        </div>
      </div>

      

  </div>

  <div class="row mt-3 d-flex justify-content-center align-items-center">
    <!-- President Card -->
   
    <div class="col-md-4">
        <div class="card p-2 hover-card">
          <img src="images/office-bearers/Gujjala.jpg" class="card-img-top" alt="Profile Image">
          <div class="card-body text-center">
            <h5 class="card-title">Dr. Gujjala Venkatasubbaiah</h5>
            <h6 class="card-subtitle mb-2 text-muted">Professor, Dept. of Mechanical Engg.</h6>
            <p class="card-text">
                M.V.S.R. Engineering College Nadergul,<br>
                Hyderabad – 501510<br>
              08237447711 (M)<br>
              Email: gvsubbaiah&#64;yahoo.com, indravaraj&#64;gmail.com
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card p-2 hover-card">
          <img src="images/office-bearers/Sharanappa.jpg" class="card-img-top" alt="Profile Image">
          <div class="card-body text-center">
            <h5 class="card-title">Prof. Sharanappa G. Malashetty</h5>
            <h6 class="card-subtitle mb-2 text-muted">Professor & HOD, Mathematics Dept.</h6>
            <p class="card-text">
                HKES S.L.N. College of Engineering<br>
                Y. Camp, Raichur – 584135<br>
                +91 - 9448140008 (M)<br>
              Email: sgmalashetty&#64;gmail.com
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card p-2 hover-card">
          <img src="images/office-bearers/woocommerce-placeholder.png" class="card-img-top" alt="Profile Image">
          <div class="card-body text-center">
            <h5 class="card-title">Dr. S.M. Ali</h5>
            <h6 class="card-subtitle mb-2 text-muted">Executive Secretary I/c</h6>
            <!-- <p class="card-text">
              Plot No. 40, Chavan Colony<br>
              Infront of Kalamba Jail<br>
              Kolhapur - 416012<br>
              08237447711 (M)<br>
              Email: pratapd96&#64;gmail.com
            </p> -->
          </div>
        </div>
      </div>
      

  </div>
</div>










