
<!-- Title -->
<div class="row">
    <div class="col-md-12 mx-auto title-div-color">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center title-div-content">
            <h2 class="title-text">Institutional Membership
            </h2>
            
            <span class="subtitle-container">
                <a href="" class="linked-text"><h6 class="subtitle-text text-color-change">Home</h6></a>
                <h6 class="subtitle-text "> > Institutional Membership

                </h6>
            </span>
        </div> 
    </div> 
</div>

<!-- Content -->

<!-- For ISTE Members -->

<div class="container">
    <div class="row" style="margin-top: 5vh;">
        <div class="col-md-10 mx-auto">

           <p class="paragraph block-left">
            The Executive Council or an office bearer of the Society authorized by the Executive Council for this purpose, may on application in the prescribed form admit recognized Institutions of the following categories as Institutional Members:
           </p>


            <ul>
                <li class="block-left">
                    Universities, University Departments, Colleges, Institutes and Polytechnics offering courses in Technical Education in India or abroad at levels of Diploma/Degree. 
                </li>
                <li class="block-left">
                    Engineering and Technological research institutes in India or abroad. 

                </li>
                <li class="block-left">
                    Industrial and Professional Organisations in India or abroad having specific and active interest in Technical Education in India. 

                </li>

                <li class="block-left">
                    Departments of Central and State Governments, Statutory Bodies and Autonomous Bodies that have an interest in Technical Education. 

                </li>
                <li class="block-left">
                    The Executive Council shall have power to refuse admission to any applicant without assigning any reason. 

                </li>

            </ul>

            <p class="paragraph block-left mt-4">



                From January 2022, ISTE has launched 

                <a href="https://membership.isteonline.in/" style="text-decoration: none;">
                    <span class="paragraph linked-text text-color-change">
                        Online Portal. 
                    </span>
                
                </a>


                for all membership related work viz. new application for Institutional Membership, Life Membership, Student Membership and payment of fee via the same  



                <a href="https://membership.isteonline.in/" style="text-decoration: none;">
                    <span class="paragraph linked-text text-color-change">
                        Online Portal. 
                    </span>
                
                </a>
                
            </p>

            <p class="paragraph block-left">
                All the recognised Technical Institutions/Institutional Members of ISTE/AICTE approved engineering colleges (degree & diploma)/Polytechnics/Life Members of ISTE requested to kindly utilize this Online Web Portal ​for applying and making payments.


            </p>

            <p class="paragraph block-left">



                Online web portal : 

                <a style="text-decoration: none;" href="https://membership.isteonline.in/" target="_blank">
                    <span class="paragraph linked-text text-color-change">
                        https://membership.isteonline.in/
                    </span>
    
                </a>

            </p>


            <p class="paragraph block-left">
                <strong>No manual form or DD will be accepted.</strong>
            </p>
            

        </div>

    </div>

</div>






