
<!-- Title -->
<div class="row">
    <div class="col-md-12 mx-auto title-div-color">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center title-div-content">
            <h2 class="title-text">Membership Benefits</h2>
            
            <span class="subtitle-container">
                <a href="" class="linked-text"><h6 class="subtitle-text text-color-change">Home</h6></a>
                <h6 class="subtitle-text "> > Membership Benefits</h6>
            </span>
        </div> 
    </div> 
</div>

<!-- Content -->

<!-- For ISTE Members -->

<div class="container">
    <div class="row" style="margin-top: 5vh;">
        <div class="col-md-10 mx-auto">

            <p class=" caps-content block-right mt-4">
                Major Benefits of becoming an ISTE Member
            </p>

            <ul>
                <li class="block-left">
                    A Member of a National Professional Organisation.
                </li>
                <li class="block-left">
                    Joined an academic Fraternity of over 1,24,000 strong professional.
                </li>
                <li class="block-left">
                    Preference to attand short-term training programme for the acaemic excellence and to become eligble for career advancement opportunities.

                </li>
                <li class="block-left">
                    Getting monthly e-copy of ISTE Newsletter by email

                </li>

                <li class="block-left">
                    Quarterly Indian journal of Technical Education (at concessional rates).

                </li>

                <li class="block-left">
                    Many more publications for Self Development,Institution Development,etc.( at concessional rates).
                </li>

                <li class="block-left">
                    Eligible to participate in Chapter level,Section level and National Level Conferences,Workshops and other activities of your academic interest etc.
                </li>
            

            </ul>
            






        </div>

    </div>

</div>






