
<!-- Title -->
<div class="row">
    <div class="col-md-12 mx-auto title-div-color">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center title-div-content">
            <h2 class="title-text">ISTE Newsletter</h2>
            
            <span class="subtitle-container">
                <a href="" class="linked-text"><h6 class="subtitle-text text-color-change">Home</h6></a>
                <h6 class="subtitle-text "> > ISTE Newsletter</h6>
            </span>
        </div> 
    </div> 
</div>

<div class="container">
    

    <div class="row">

        <div class="col-md-10 mx-auto">

            <div class="row">
                <div class="col-md-6 mt-5">
                    <a 
                        href="downloadables/newsletters/NL Jan.Feb 24.pdf" target="_blank"
                        style="text-decoration: none;"
                    >
                        <h2 class=" content-heading text-center text-color-change block-right">JANUARY - MARCH 2024</h2>
                        <div class="image-container">
                            <img src="images/newsletter/newsletter1.png" class="image-size text-center block-left">
                        </div>

                    </a>
                    
                </div>

                <div class="col-md-6 mt-5">

                    <a 
                        href="downloadables/newsletters/NL march-april 24.pdf" target="_blank"
                        style="text-decoration: none;"
                    >

                        <h2 class=" content-heading text-center text-color-change block-right">MARCH - APRIL 2024</h2>
                        <div class="image-container">
                            <img src="images/newsletter/newsletter2.png" class="image-size text-center block-left">
                        </div>

                    </a>
                </div>

            </div>

            <div class="row mb-5">

                <div class="col-md-6 mt-5">

                    <a 
                        href="downloadables/newsletters/NL May-June 24.pdf" target="_blank"
                        style="text-decoration: none;"
                    >

                        <h2 class=" content-heading text-center text-color-change block-right">MAY - JUNE 2024</h2>
                        <div class="image-container">
                            <img src="images/newsletter/newsletter3.jpg" class="image-size text-center block-left">
                        </div>

                    </a>

                    
                </div>


                <div class="col-md-6 mt-5">


                    <a 
                        href="downloadables/newsletters/july-aug 24.pdf" target="_blank"
                        style="text-decoration: none;"
                    >

                        <h2 class=" content-heading text-center text-color-change block-right"> JULY-AUGUST 2024</h2>
                        <div class="image-container">
                            <img src="images/newsletter/newsletter4.png" class="image-size text-center block-left">
                        </div>

                    </a>
                    
                </div>

            </div>
            
        </div>

    </div>


</div>






