
<!-- Title -->
<div class="row">
    <div class="col-md-12 mx-auto title-div-color">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center title-div-content">
            <h2 class="title-text">List of ISTE best M.Tech Thesis Awards</h2>
            
            <span class="subtitle-container">
                <a href="" class="linked-text"><h6 class="subtitle-text text-color-change">Home</h6></a>
                <h6 class="subtitle-text "> > List of ISTE best M.Tech Thesis Awards</h6>
            </span>
        </div> 
    </div> 
</div>

<!-- Content -->

<!-- For ISTE Members -->

<div class="container">
    <div class="row" style="margin-top: 5vh;">
        <div class="col-md-10 mx-auto">

            

            <p class="paragraph">
                Students of Civil/Mechanical/Electrical/Electronics/ Chemical/ Agricultural 
                branch who are doing M.Tech. degree thesis work can apply for the award and 
                send ONE COPY of the thesis with a two page abstract of the original 
                contributions made in the thesis to ISTE. These awards will be distributed 
                during the ISTE Students National Convention every year.
            </p>

            <p class="paragraph">
                The Executive Secretary<br>
                Indian Society for Technical Education<br>
                Shaheed Jeet Singh Marg,<br>
                New Delhi – 110 016<br>
            </p>

        </div>

        <div class="row">
            <div class="col-md-10 mx-auto">

                      
                <table class="table table-striped table-bordered table-hover text-center shadow mb-5">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">S.No</th>
                            <th scope="col">Name of Award</th>
                            <th scope="col">Download Form</th>
                            <th scope="col">Download Proforma</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>ISTE-GSFC National Award for Best M.Tech. Thesis in Mechanical Engineering, instituted by Gujarat State Fertilizers Co. Ltd., Vadodara.</td>
                            <td><a href="#" class="linked-text text-color-change">Download</a></td>
                            <td><a href="#" class="linked-text text-color-change">PROFORMA</a></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>ISTE-IPCL National Award for Best M.Tech. Thesis in Chemical Engineering, instituted by the Indian Petrochemical Corporation Ltd., Vadodara.</td>
                            <td><a href="#" class="linked-text text-color-change">Download</a></td>
                            <td><a href="#" class="linked-text text-color-change">PROFORMA</a></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>ISTE-L&T National Award for Best M.Tech. Thesis in Electrical/Electronics Engineering instituted by Larsen & Toubro Ltd., Mumbai.</td>
                            <td><a href="#" class="linked-text text-color-change">Download</a></td>
                            <td><a href="#" class="linked-text text-color-change">PROFORMA</a></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>ISTE National Award for Best M.Tech. Thesis in Civil Engineering instituted by Smt. Saraswathi Bai and Dr. S. Venkoji Rao of Tirupati (Andhra Pradesh) in memory of their late sons Shri S.Sridhar and Shri S. Giridhar.</td>
                            <td><a href="#" class="linked-text text-color-change">Download</a></td>
                            <td><a href="#" class="linked-text text-color-change">PROFORMA</a></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>ISTE National Award for Best M.Tech. Thesis in Agricultural Engineering instituted by the Organisers of the 28th Annual Convention of ISTE held at Punjab Agricultural University, Ludhiana.</td>
                            <td><a href="#" class="linked-text text-color-change">Download</a></td>
                            <td><a href="#" class="linked-text text-color-change">PROFORMA</a></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>ISTE-Kings College of Engineering National Award for Best M.E./M.Tech. Thesis in Engineering to promote research in agricultural applications and/or rural development, instituted by the management of Kings College of Engineering, Punalkulam, Pudukkottai Dist., T.N. during the 18th ISTE National Students Convention.</td>
                            <td><a href="#" class="linked-text text-color-change">Download</a></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                
                
                    
            </div>

        </div>
        
    </div>


</div>






