
<!-- Title -->
<div class="row">
    <div class="col-md-12 mx-auto title-div-color">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center title-div-content">
            <h2 class="title-text">Incentives to ISTE chapter</h2>
            
            <span class="subtitle-container">
                <a href="" class="linked-text"><h6 class="subtitle-text text-color-change">Home</h6></a>
                <h6 class="subtitle-text "> > Incentives to ISTE chapter</h6>
            </span>
        </div> 
    </div> 
</div>

<!-- Content -->

<!-- For ISTE Members -->

<div class="container">
    <div class="row" style="margin-top: 5vh;">
        

    <div class="row">
        <div class="col-md-10 mx-auto">

            <h4 class="content-subheading scaleup" style="color: #1AB69D;">
                T.A. for attending ISTE Convention
              </h4>

            <p class="paragraph mt-3 scaleup">
                Chapter which complete at least 6 Technical Activities 
                (3 of them with outside experts/faculty) for the members 
                during January to October will be given to and fro Second 
                Class Railway fare to attend the Annual Convention of ISTE 
                to be held during November/December. The following norms will 
                be followed for the incentive, in addition to the requirement 
                of organizing the above-mentioned 6 technical activities:
            </p>

            <div class="container mt-3">
                <table class="table table-striped table-bordered table-hover text-center shadow mb-5">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">CHAPTERS</th>
                      <th scope="col">Fare Details</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Polytechnic Chapters with at Least 25 Life Members</td>
                      <td>One Second Class to and from rail fare</td>
                    </tr>
                    <tr>
                      <td>Polytechnic Chapters with more than 50 Life Members</td>
                      <td>Two Second Class to and from rail fare</td>
                    </tr>
                    <tr>
                      <td>Engineering College (and other degree level institution) Chapters with at least 50 Life Members</td>
                      <td>One Second Class to and from rail fare</td>
                    </tr>
                    <tr>
                      <td>Engineering College Chapters with more than 100 Life Members</td>
                      <td>Two Second Class to and from rail fare</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <p class="paragraph mt-3 scaleup">
                <strong>Note:</strong> All Chapters should complete 6 Technical activities as mentioned above. 
                For claiming the incentives, please use Form 6 (page 39). No other Form of 
                claim will be entertained.
            </p>
              

            <h4 class="content-subheading scaleup" style="color: #1AB69D;">
                Special Awards to Chapters
              </h4>

              <p class="paragraph mt-3 scaleup">
                Special Awards will be given during the ISTE annual Convention to the Best ISTE Chapter in the 
                various ISTE Sections as judged by the respective Section Managing Committees. 
                The following terms of reference may be followed in deciding the award:
            </p>


              <ul>
                <li class="scaleup">
                    Total number and variety of activities
                </li>
                <li class="scaleup">
                    The relevance of the activities to the members
                </li>
                <li class="scaleup">
                    General leadership exhibited
                </li>
                <li class="scaleup">
                    Resources generated locally
                </li>
                <li class="scaleup">
                    Extension services rendered
                </li>
              </ul> 
              
              <h4 class="content-subheading scaleup">
                Note:
              </h4>

              <ol>
                <li class="scaleup">
                    There will be awards for Best Chapter and Best Students Chapter
                </li>
                <li class="scaleup">
                    Sections are requested to finalise the Awards at the earliest 
                    and inform the name of the Best Chapter before September.
                </li>
                <li class="scaleup">
                    Only Sections having 15 or more ISTE Chapters are eligible for 
                    the Best Chapter Award. Similarly only Sections with 10 or more 
                    Students Chapters are eligible for Best Students Chapter Award.
                </li>
              </ol> 

              

              <p class="paragraph mt-3 scaleup">
                <strong>
                    Note : Awards Cannot be shared between two or more Chapters.
                </strong>
              </p>


        </div>

    </div>



</div>






