<div class="container">


    <!-- <div class="row">

        <div class="col-md-10 mx-auto">

            <p class="content-heading" style="text-align: center; margin-top: 10vh; margin-bottom: 5vh;">Academic Programs</p>

            <div class="row">
                <div class="col-md-10 mx-auto ">

                    <div class="row border-block" style="margin-top: 3vh; padding: 1rem; border-color: #F8B81F;">

                        <div class="col-sm-6 col-md-6 col-lg-6 d-flex flex-column justify-content-center">

                            <a [routerLink]="['/details-of-iste-annual-conventions']">

                                <img src="images/academic-prog/ISTE-conventions.webp" class="img-fluid block-left hover-info" alt="Responsive Image" style="border-radius: 10px;">
                            </a>


                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-6 d-flex flex-column justify-content-center">
                            <a style="text-decoration: none;" [routerLink]="['/details-of-iste-annual-conventions']"><h3 class="text-center content-subheading text-color-change linked-text block-right hover-info">Details of ISTE Annual Conventions</h3></a>
                            <hr>
                            <a style="text-decoration: none;" [routerLink]="['/details-of-iste-student-conventions']"><h3 class="text-center content-subheading text-color-change linked-text block-right hover-info">Details of ISTE Student Conventions</h3></a>
                        </div>

                    </div>
                    

                </div>


            </div>


        </div>

    </div> -->


    <div class="row" style="margin-top: 5vh;">

        <div class="col-md-10 mx-auto">

            <div class="row">
                <div class="col-md-10 mx-auto ">

                    <div class="row border-block"  style="margin-top: 3vh; padding: 1rem; border-color: #CE4A5C;">

                        <div class="col-sm-6 col-md-6 col-lg-6 d-flex flex-column justify-content-center">

                            <img src="images/academic-prog/ISTE-conventions.webp" class="img-fluid block-left hover-info" alt="Responsive Image" style="border-radius: 10px;">


                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-6 d-flex flex-column justify-content-center">

                            
                            <a style="text-decoration: none;" [routerLink]="['/details-of-iste-annual-conventions']"><h3 class="text-center content-subheading text-color-change linked-text block-right hover-info">Details of ISTE Annual Conventions</h3></a>
                            <hr>
                            <a style="text-decoration: none;" [routerLink]="['/details-of-iste-student-conventions']"><h3 class="text-center content-subheading text-color-change linked-text block-right hover-info">Details of ISTE Student Conventions</h3></a>

                            



                        </div>

                    </div>
                    

                </div>


            </div>


        </div>

    </div>






    <!-- <div class="row" style="margin-top: 5vh;">

        <div class="col-md-10 mx-auto">

            <div class="row">
                <div class="col-md-10 mx-auto ">

                    <div class="row border-block"  style="margin-top: 1px; padding: 1rem; border-color: #8D5938;">

                        <div class="col-sm-6 col-md-6 col-lg-6 d-flex flex-column justify-content-center">

                            <a [routerLink]="['/honorary-fellow-grade-members-of-iste']" >

                                <img src="images/academic-prog/felloship.jpg" class="img-fluid block-left  hover-info" alt="Responsive Image" style="border-radius: 10px;">


                            </a>


                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-6 d-flex flex-column justify-content-center">
                            <a style="text-decoration: none; " [routerLink]="['/honorary-fellow-grade-members-of-iste']">
                                <h3 class="text-center content-subheading text-color-change linked-text block-right  hover-info"
                                >
                                    Honorary Fellow-Grade Members of ISTE
                                </h3>
                            </a>
                            <hr>

                            <a [routerLink]="['/honorary-fellow-grade-members-of-iste']" style="text-decoration: none;">

                                <p class="paragraph block-right linked-text text-color-change  hover-info ">
                                    ISTE has been identifying leading luminaries of Technical Education in the Country since 2000 and conferring Honorary Fellowship for their commendable contributions in the development of Technical Education in the country. 
                                   </p>

                            </a>
                            
                        </div>

                    </div>
                    

                </div>


            </div>


        </div>

    </div> -->






    <div class="row" style="margin-top: 5vh;">

        <div class="col-md-10 mx-auto">

            <div class="row">
                <div class="col-md-10 mx-auto ">

                    <div class="row border-block"  style="margin-top: 3vh; padding: 1rem; border-color: #CE4A5C;">

                        <div class="col-sm-6 col-md-6 col-lg-6 d-flex flex-column justify-content-center">

                            <img src="images/academic-prog/felloship.jpg" class="img-fluid block-left  hover-info" alt="Responsive Image" style="border-radius: 10px;">

                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-6 d-flex flex-column justify-content-center">

                            
                            <a style="text-decoration: none; " [routerLink]="['/honorary-fellow-grade-members-of-iste']">
                                <h3 class="text-center content-subheading text-color-change linked-text block-right  hover-info"
                                >
                                    Honorary Fellow-Grade Members of ISTE
                                </h3>
                            </a>
                            <hr>

                            <a [routerLink]="['/honorary-fellow-grade-members-of-iste']" style="text-decoration: none;">

                                <p class="paragraph block-right linked-text text-color-change  hover-info ">
                                    ISTE has been identifying leading luminaries of Technical Education in the Country since 2000 and conferring Honorary Fellowship for their commendable contributions in the development of Technical Education in the country. 
                                   </p>

                            </a>



                        </div>

                    </div>
                    

                </div>


            </div>


        </div>

    </div>













    <!-- <div class="row" style="margin-top: 5vh;">

        <div class="col-md-10 mx-auto">

            <div class="row">
                <div class="col-md-10 mx-auto ">

                    <div class="row border-block"  style="margin-top: 3vh; padding: 1rem; border-color: #8B9C4B;">

                        <div class="col-sm-6 col-md-6 col-lg-6 d-flex flex-column justify-content-center">

                            <a [routerLink]="['/how-to-become-iste-member']">

                                <img src="images/academic-prog/become-member.jpg" class="img-fluid block-left hover-info" alt="Responsive Image" style="border-radius: 10px;">

                            </a>


                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-6 d-flex flex-column justify-content-center">

                            
                            <a style="text-decoration: none; "[routerLink]="['/how-to-become-iste-member']"><p class="text-center content-subheading text-color-change linked-text block-right  hover-info">How to become ISTE Member</p></a>
                                    <hr>                            
                            <a style="text-decoration: none; "[routerLink]="['/membership-benefits']"><p class="text-center content-subheading text-color-change linked-text block-right hover-info ">Membership Benefits</p></a>
                                    <hr>
                            <a style="text-decoration: none; "[routerLink]="['/membership-cards-certificates']"><p class="text-center content-subheading text-color-change linked-text block-right  hover-info">Membership cards & Certificates</p></a>
                                    <hr>
                            <a style="text-decoration: none; "[routerLink]="['/download-form']" ><p class="text-center content-subheading text-color-change linked-text block-right hover-info">Download Form</p></a>
                                    <hr>
                            <a style="text-decoration: none;" href="https://membership.isteonline.in/" target="_blank"><h3 class="text-center content-subheading text-color-change linked-text block-right hover-info">Online Membership Portal</h3></a>


                        </div>

                    </div>
                    

                </div>


            </div>


        </div>

    </div> -->





    <!-- Third -->


    <div class="row" style="margin-top: 5vh;">

        <div class="col-md-10 mx-auto">

            <div class="row">
                <div class="col-md-10 mx-auto ">

                    <div class="row border-block"  style="margin-top: 3vh; padding: 1rem; border-color: #CE4A5C;">

                        <div class="col-sm-6 col-md-6 col-lg-6 d-flex flex-column justify-content-center">

                            <img src="images/academic-prog/become-member.jpg" class="img-fluid block-left hover-info" alt="Responsive Image" style="border-radius: 10px;">

                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-6 d-flex flex-column justify-content-center">

                            
                            <a style="text-decoration: none; "[routerLink]="['/how-to-become-iste-member']"><p class="text-center content-subheading text-color-change linked-text block-right  hover-info">How to become ISTE Member</p></a>
                                    <hr>                            
                            <a style="text-decoration: none; "[routerLink]="['/membership-benefits']"><p class="text-center content-subheading text-color-change linked-text block-right hover-info ">Membership Benefits</p></a>
                                    <hr>
                            <a style="text-decoration: none; "[routerLink]="['/membership-cards-certificates']"><p class="text-center content-subheading text-color-change linked-text block-right  hover-info">Membership cards & Certificates</p></a>
                                    <hr>
                            <a style="text-decoration: none; "[routerLink]="['/download-form']" ><p class="text-center content-subheading text-color-change linked-text block-right hover-info">Download Form</p></a>
                                    <hr>
                            <a style="text-decoration: none;" href="https://membership.isteonline.in/" target="_blank"><h3 class="text-center content-subheading text-color-change linked-text block-right hover-info">Online Membership Portal</h3></a>



                        </div>

                    </div>
                    

                </div>


            </div>


        </div>

    </div>






    <div class="row" style="margin-top: 5vh;">

        <div class="col-md-10 mx-auto">

            <div class="row">
                <div class="col-md-10 mx-auto ">

                    <div class="row border-block"  style="margin-top: 3vh; padding: 1rem; border-color: #CE4A5C;">

                        <div class="col-sm-6 col-md-6 col-lg-6 d-flex flex-column justify-content-center">

                            <img src="images/academic-prog/28_joinus.jpg" class="img-fluid block-left" alt="Responsive Image" style="border-radius: 10px;">

                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-6 d-flex flex-column justify-content-center">

                            
                            <a style="text-decoration: none; "[routerLink]="['/life-time-membership']"><p class="text-center content-subheading text-color-change linked-text block-right  hover-info">Life Time Membership</p></a>
                                    <hr>                            
                            <a style="text-decoration: none; "[routerLink]="['/institutional-membership']"><p class="text-center content-subheading text-color-change linked-text block-right hover-info ">Institutional Membership</p></a>
                                    <hr>
                            <a style="text-decoration: none; "[routerLink]="['/student-membership']"><p class="text-center content-subheading text-color-change linked-text block-right  hover-info">Student Membership</p></a>
                                    <hr>
                            <a style="text-decoration: none; "[routerLink]="['/corporate-institutional-membership']" ><p class="text-center content-subheading text-color-change linked-text block-right hover-info">Corporate Institutional Membership</p></a>
                            

                        </div>

                    </div>
                    

                </div>


            </div>


        </div>

    </div>









    <div class="row" style="margin-top: 5vh;">

        <div class="col-md-10 mx-auto">

            <div class="row">
                <div class="col-md-10 mx-auto ">

                    <div class="row border-block"  style="margin-top: 3vh; padding: 1rem; border-color: #CE4A5C;">

                        <div class="col-sm-6 col-md-6 col-lg-6 d-flex flex-column justify-content-center">

                            <img src="images/academic-prog/apply-membership.webp" class="img-fluid block-left" alt="Responsive Image" style="border-radius: 10px;">

                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-6 d-flex flex-column justify-content-center">

                            
                            <a style="text-decoration: none;" href="https://membership.isteonline.in/" target="_blank"><p class="text-center content-subheading text-color-change linked-text block-right">Online Membership Portal</p></a>
                                    <hr>  
                                    
                            <p class="paragraph block-right" style="font-size: 0.9rem;">

                                All are  hereby informed and requested to kindly utilize <a style="text-decoration: none;" href="https://membership.isteonline.in/" target="_blank"><strong><span class="text-color-change">Online Web Portal</span></strong></a>  for applying and making payments of all Membership i.e. Institutional Membership, Life Membership, Student Membership fee via the same portal as no manual form or DD will be accepted.  

                            </p>
                           

                        </div>

                    </div>
                    

                </div>


            </div>


        </div>

    </div>


</div>