
<!-- Title -->
<div class="row">
    <div class="col-md-12 mx-auto title-div-color">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center title-div-content">
            <h2 class="title-text">ISTE Journal Vol 45</h2>
            
            <span class="subtitle-container">
                <a href="" class="linked-text"><h6 class="subtitle-text text-color-change">Home</h6></a>
                <h6 class="subtitle-text "> > ISTE Journal Vol 45</h6>
            </span>
        </div> 
    </div> 
</div>

<!-- Content -->

<!-- For ISTE Members -->

<div class="container">
    <div class="row" style="margin-top: 5vh;">
        <div class="col-md-10 mx-auto">

            <h4 class="content-subheading text-center">
                About the Journal
            </h4>

            <p class="paragraph">
                The Indian Journal of Technical Education is published 
                by the Indian Society for Technical Education on 
                quarterly basis with the aim to provide an appropriate 
                platform presenting well considered, meaningful, 
                constructively thought provoking, non-political and 
                non-controversial but critically analyzing and synthesizing 
                present and future aspects of Technical Education System 
                with particular reference to our country.<strong>The contributors 
                are expected to highlight various issues of Technical 
                Education (incorporating disciplines of Engineering, 
                Technology, Management, Architecture, Pharmacy and Applied 
                Science only) along with meaningful suggestions for solution, 
                refinement and innovations.</strong>
            </p>

            <p class="paragraph">
                <strong>The IJTE is a peer reviewed Journal and indexed in the UGC-Care Journal list.</strong> 
                The main task of the CARE is to improve the quality of research in Indian 
                universities and to promote academic and research integrity as well as 
                publication ethics. High-quality publications in reputed journals help 
                in achieving higher global ranks and overall improvement of quality of 
                education. 
            </p>

            <p class="paragraph">
                The contributors are expected to highlight various issues of Technical 
                Education. The Journal is <strong>Not</strong> meant for publication of specialised research 
                results in any discipline of Technical Education
            </p>

            <p class="paragraph">
                The following guidelines must be carefully followed:
            </p>

            <ol>
                <li>
                    Manuscripts submitted to the journal will be initially screened 
                    by the editors followed by the plagarism check. Those 
                    considered inappropriate will be returned to the sender.  
                </li>
                <li>
                    <strong>
                        The publication charges for the Authors : Rs.2000/- + 18% GST per paper, 
                        if author is a life member of ISTE; Non-member of ISTE Rs.2500/- + 18 % GST. 
                        This amount will be paid to the ISTE only after receiving the acceptance mail 
                        from the Editor.
                    </strong>
                </li>

                <li>
                    The article will be reviewed by an expert in the discipline area concerned. 
                    Neither the editors nor the journal will accept responsibility for errors, 
                    omissions, loss or damage to manuscripts.

                </li>

                <li>
                    The Authors are fully responsible for the contributions.
                </li>

                <li>
                    The Authors should be the Life Member of ISTE, if not, while submitting the 
                    paper they can apply for the membership by clicking  <a class="linked-text text-color-change">https://membership.isteonline.in </a>
                </li>

                <li>
                    The Copyright clearance will be the sole responsibility of authors for their papers.
                </li>

                <li>
                    Enough precaution should be taken to make the manuscript error free.
                </li>

                <li>
                    Upon acceptance of a paper, the author(s) will be requested to provide an electronic 
                    copy of the paper, compatible with Microsoft Word.
                </li>

                <li>
                    The selection of papers for publication will be based on their relevance, clarity, 
                    topicality and originality; the extent to which they advance knowledge, understanding 
                    and application; and their likely contribution towards inspiring further development 
                    and research.
                </li>

                <li>
                    The manuscript should be submitted and author’s details should be mentioned in the 
                    beginning. The author should not be identified anywhere else in the article. The 
                    authors details should include full name, affiliation, e-mail address etc.
                </li>

                <li>
                    Manuscripts should not exceed 7,500 words 
                    (about 15 A-4 size pages, typed one and half space only).
                </li>

                <li>
                    Submit an abstract of about 200 words. The articles should be in clear, coherent 
                    and concise English language. Author/s should upload manuscript in MS-Word.
                </li>
                
                <li>
                    Tables should be numbered and referred to in the text as Table 1, Table 2, etc. 
                    Tables should not duplicate results in graphs. The minimum amount of descriptive 
                    text should be used on graphs and drawings (label curves, points, etc. with single 
                    letter symbols). The tables and figures should be clearly visible, readable and 
                    monochromatic in nature. Avoid inserting pictures of tables and figures in the 
                    manuscript.
                </li>

                <li>
                    In view of the large responses from Technical Education fraternity and limited 
                    space available in the journal, the publication may take usually 6 months from 
                    the date of receipt of the manuscript subject to the approval of the reviewers.
                </li>

            </ol>

            <p class="paragraph">
                All contributors are requested to please cooperate by observing the above 
                mentioned guidelines strictly while sending the paper for publication in the IJTE.
                
            </p>

            <p class="paragraph">
                <strong>
                    Send your paper by email to : editor&#64;isteonline.org
                </strong>
            </p>





        </div>
    </div>

    <div class="row">
        <div class = "col-md-10 mx-auto box text-center">

            <p class="">
               <strong>
                Submit your work and get recognized at this grand stage
               </strong> 
            </p>

            <p>
                <strong>
                    SPREAD KNOWLEDGE – CONNECT PEOPLE
                </strong>
            </p>


        </div>

    </div>

    <div class="row">
        <div class = "col-md-10 mx-auto">

            <p class="paragraph">Visit : <span class="linked-text text-color-change"> www.isteonline.in</span></p>

            <p class="paragraph">ISSN No  0971-3034</p>

            <p class="paragraph">Email : editor&#64;isteonline.org</p>
        </div>
    </div>

    <div class="row">

        <div class="col-md-10 mx-auto">

            <div class="row">
                <div class="col-md-6">
                    <h2 class=" content-heading text-center">Vol.45 - No.1 - Jan - March 2022</h2>
                    <div class="image-container">
                        <img src="images/journal-45/Green.png" class="image-size text-center">
                    </div>
                </div>

                <div class="col-md-6">
                    <h2 class=" content-heading text-center">Vol.45 - No.1 - Jan - March 2022</h2>
                    <div class="image-container">
                        <img src="images/journal-45/Green.png" class="image-size text-center">
                    </div>
                </div>

            </div>

            <div class="row" style="margin-top: 5vh; margin-bottom: 5vh;">
                <div class="col-md-6">
                    <h2 class=" content-heading text-center">Vol.45 - No.1 - Jan - March 2022</h2>
                    <div class="image-container">
                        <img src="images/journal-45/Green.png" class="image-size text-center">
                    </div>
                </div>

                <div class="col-md-6">
                    <h2 class=" content-heading text-center">Vol.45 - No.1 - Jan - March 2022</h2>
                    <div class="image-container">
                        <img src="images/journal-45/Green.png" class="image-size text-center">
                    </div>
                </div>

            </div>
            
        </div>

    </div>


</div>






