
<div class="row">
    <div class="col-md-12 mx-auto title-div-color">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center title-div-content">
            <h2 class="title-text">ISTE Journal</h2>
            
            <span class="subtitle-container">
                <a href=""  class="linked-text"><h6 class="subtitle-text text-color-change">Home</h6></a>
                <h6 class="subtitle-text "> > ISTE Journal</h6>
            </span>
        </div> 
    </div> 
</div>


<div class="container">
    <div class="row" style="margin-top: 5vh;">
        <div class="col-md-10 mx-auto">

            <h2 class="text-center content-heading">Vol.45 - No.1 - Jan - March 2022</h2>
            
            <div class="text-center">
                <div class="row">
                    <div class="col-md-6">
                        <p class="content-subheading">Vol.45 – No.1 – Jan-March 2022</p>
                    </div>
                    <div class="col-md-6">
                        <p class="content-subheading"> Vol.45 – No.1 – Jan-March 2022</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <p class="content-subheading">Vol.45 – No.1 – Jan-March 2022</p>
                    </div>
                    <div class="col-md-6">
                        <p class="content-subheading">Vol.45 – No.1 – Jan-March 2022</p>
                    </div>
                </div>

                <hr class="bold-rule">
                
                
                
                <div class="row">

                    <div class="col-md-6">
                        <h2 class=" text-center content-heading">Vol.45 - No.1 - Jan - March 2022</h2>
                        <img src="images/journals/Green2.png" class="image-size">
                    </div>

                    <div class="col-md-6">
                        <h2 class="content-heading">Vol.45 - No.1 - Jan - March 2022</h2>
                        <img src="images/journals/Pink1.png" class="image-size">
                    </div>

                </div>
                

                <hr class="bold-rule">

                <div class="row">

                    <div class="col-md-6">
                        <h2 class=" text-center content-heading">Vol.45 - No.1 - Jan - March 2022</h2>
                        <img src="images/journals/Orange3.png" class="image-size">
                    </div>
                        
                    <div class="col-md-6">
                        <h2 class=" text-center content-heading">Vol.45 - No.1 - Jan - March 2022</h2>
                        <img src="images/journals/Blue4.png" class="image-size">
                    </div>
    

                </div>
                
                <hr class="bold-rule">
                
                <div class="">
                    <h2 class=" text-center content-heading">Vol.45 - No.1 - Jan - March 2022</h2>
                    <img src="images/journals/Pink5.png" class="image-size">
                </div>

            </div>
            




        </div>

    </div>

</div>








<!-- 
<div class="row">
    <div class="col-md-12 mx-auto title-div-color">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center title-div-content">
            <h2 class="title-text">ISTE Journal</h2>
            <span class="subtitle-container">
                <a href="" class="linked-text"><h6 class="subtitle-text text-color-change">Home</h6></a>
                <h6 class="subtitle-text"> > ISTE Journal</h6>
            </span>
        </div> 
    </div> 
</div>

<div class="container">
    <div class="row" style="margin-top: 5vh;">
        <div class="col-md-10 mx-auto">

            <h2 class="text-center content-heading">Vol.45 - No.1 - Jan - March 2022</h2>

            <div class="text-center">
                <div class="row">
                    <div class="col-md-6">
                        <p class="content-subheading">Vol.45 – No.1 – Jan-March 2022</p>
                    </div>
                    <div class="col-md-6">
                        <p class="content-subheading">Vol.45 – No.1 – Jan-March 2022</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <p class="content-subheading">Vol.45 – No.1 – Jan-March 2022</p>
                    </div>
                    <div class="col-md-6">
                        <p class="content-subheading">Vol.45 – No.1 – Jan-March 2022</p>
                    </div>
                </div>

                <hr class="bold-rule">

                <div class="row">
                    <div class="col-md-6">
                        <h2 class="text-center content-heading">Vol.45 - No.1 - Jan - March 2022</h2>
                        <img src="images/journals/Green2.png" class="image-size">
                    </div>

                    <div class="col-md-6">
                        <h2 class="content-heading">Vol.45 - No.1 - Jan - March 2022</h2>
                        <img src="images/journals/Pink1.png" class="image-size">
                    </div>
                </div>

                <hr class="bold-rule">

                <div class="row">
                    <div class="col-md-6">
                        <h2 class="text-center content-heading">Vol.45 - No.1 - Jan - March 2022</h2>
                        <img src="images/journals/Orange3.png" class="image-size">
                    </div>
                    <div class="col-md-6">
                        <h2 class="text-center content-heading">Vol.45 - No.1 - Jan - March 2022</h2>
                        <img src="images/journals/Blue4.png" class="image-size">
                    </div>
                </div>

                <hr class="bold-rule">

                <div>
                    <h2 class="text-center content-heading">Vol.45 - No.1 - Jan - March 2022</h2>
                    <img src="images/journals/Pink5.png" class="image-size">
                </div>

            </div>
        </div>
    </div>
</div>
 -->
