
<!-- Add this line in the <head> section of your index.html -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


    <!-- Title -->
    <div class="row">
        <div class="col-md-12 mx-auto title-div-color">
            <div class="container d-flex flex-column justify-content-center align-items-center text-center title-div-content">
                <h2 class="title-text">ISTE Section Chairmen</h2>
                
                <span class="subtitle-container">
                    <a href="" class="linked-text"><h6 class="subtitle-text text-color-change">Home</h6></a>
                    <h6 class="subtitle-text "> > ISTE Section Chairmen</h6>
                </span>
            </div> 
        </div> 
    </div>
    
    <!-- Content -->
    
    <!-- For ISTE Members -->
    
    <div class="container">
        <div class="row" style="margin-top: 5vh;">
            <div class="col-md-4 mx-auto">
    
    
                <h2 class="content-subheading text-center">Section Secretaries</h2>
    
                <div class="container mt-5">
                    <div *ngFor="let award of awards; let i = index">
                        <!-- Use [innerHTML] for the title -->
                        <p class="paragraph text-center" (click)="toggleExpand(i)" style="cursor: pointer;">
                            <i class="fas" [ngClass]="isExpanded[i] ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                            <span [innerHTML]="award.title"></span> <!-- Changed from interpolation to innerHTML -->
                        </p>
                        <div [ngClass]="{'collapse': !isExpanded[i]}">
                            <div class="award-description">
                                <p class="paragraph text-center" [innerHTML]="award.description"></p>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                
        
    
            </div>
    
            
            
        </div>
    
    
    </div>
    
    
    
    
    
    
    