
<!-- Title -->
<div class="row">
    <div class="col-md-12 mx-auto title-div-color">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center title-div-content">
            <h2 class="title-text">Updation of Membership Data
            </h2>
            
            <span class="subtitle-container">
                <a href="" class="linked-text"><h6 class="subtitle-text text-color-change">Home</h6></a>
                <h6 class="subtitle-text "> > Updation of Membership Data
                </h6>
            </span>
        </div> 
    </div> 
</div>

<!-- Content -->

<!-- For ISTE Members -->

<div class="container">
    <div class="row" style="margin-top: 5vh; margin-bottom: 5vh;">
        <div class="col-md-10 mx-auto">


            <p class="content-heading block-right mt-5 mb-5 text-center">
                UPDATION OF ISTE MEMBERSHIP DATA
            </p>

            <p class="paragraph block-left">
                Dear Members,
            </p>

            <p class="paragraph block-left">
                It is planned to conduct the coming ISTE General Election in online mode for which details about the email and mobile numbers of all life members are required. All the life members are here by requested to  confirm their details viz. address/mobile number/email etc. in Search your Membership on ISTE website www.isteonline.in.  If any correction is required please fill the proforma given below with scanned copies of your relevant documents like aadhar card, pan card, passport etc. to confirm the identity. This will also help to communicate directly to the members about various activities and programs of ISTE.
            </p>

            <p class="paragraph block-left" style="text-align: right;">
                <strong>(Executive Secretary)</strong>
            </p>


    <div class="row">

        <div class="col-md-10">
                <button 
                class="custom-button" 
                (click)="downloadPDF()"
                style="margin-bottom: 3vh;">
                <mat-icon class="icon">download</mat-icon> Download Proforma
            </button>

            

        </div>

    </div>




            
            





        </div>

    </div>

</div>






