
<!-- Title -->
<div class="row">
    <div class="col-md-12 mx-auto title-div-color">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center title-div-content">
            <h2 class="title-text">How to establish an ISTE Chapter</h2>
            
            <span class="subtitle-container">
                <a href="" class="linked-text"><h6 class="subtitle-text text-color-change">Home</h6></a>
                <h6 class="subtitle-text "> > How to establish an ISTE Chapter</h6>
            </span>
        </div> 
    </div> 
</div>

<!-- Content -->

<!-- For ISTE Members -->

<div class="container">
    <div class="row" style="margin-top: 5vh;">
        <div class="col-md-10 mx-auto bordered-div">

            <h2 class="content-heading">STEP BY STEP PROCEDURE</h2>

            <h4 class="content-subheading">
                STEP 1:
            </h4>

            <ul>
                <li>
                    The Institution, where the Chapter is to be established, 
                    must have been approved by the AICTE and also must be an 
                    Institutional Member of ISTE.
                </li>
            </ul>

            <h4 class="STEP 2:">
                Immediately after approval from ISTE
            </h4>

            <ul>
                <li>
                    Enrol 25 persons or more as ISTE members by filling up the 
                    prescribed application forms and returning them to ISTE 
                    Headquarters alongwith the membership fee by way of a DD 
                    in favour of “ISTE, New Delhi”.
                </li>
                <li>
                    A single and combined DD may be drawn if members are 
                    more than one as per fee applicable.
                </li>
                <li>
                    Do not club the faculty membership fee with student membership fee. 
                    It should be sent separately.
                </li>
            </ul>

            <h4 class="content-subheading">
                STEP 3: On receiving the above, ISTE office will send you the 
                following
            </h4>

            <ul>
                <li>
                    Individual Membership Receipts, Cards and Certificates (for life members only).
                </li>
                <li>
                    Chapter Formation Certificate and Instructions to Chapters
                </li>
                <li>
                    Chapter share will be calculated at ISTE Headquarters and released 
                    only subject to submission of report of Chapter activities and an 
                    Audited Statement of Accounts.Chapter share is applicable on 
                    interest accrued on life membership fee only. No chapter share 
                    is applicable on annual membership fee.
                </li>
            </ul>

            

            <h4 class="content-subheading">
                STEP 4: On receipt of the above details, convene a meeting of the 
                ISTE members to elect the following office bearers and send 
                the list to ISTE Headquarters
            </h4>

            <ul>
                <li>
                    Chairperson
                </li>
                <li>
                    Secretary-cum-Treasurer
                </li>
                <li>
                    3 to 7 members from among life members
                </li>
            </ul>

            <h4 class="content-subheading">
                STEP 5: Arrange the inauguration of the Chapter in a 
                befitting function and conduct the following activities
            </h4>

            <ul>
                <li>
                    Lecture by Guest Faculty/Industry personality/local 
                    faculty returning from training programmes, seminars/local 
                    faculty.
                </li>
                <li>
                    Training programme for a group of teachers by local/guest 
                    experts, i.e. computer awareness, CAD/CAM, teaching methods, 
                    project report writing, use of teaching aids, etc.
                </li>
                <li>
                    Visits to work sites, industries, exhibitions, other 
                    institutions, R&D organizations
                </li>
                <li>
                    Quiz programmes, competitions.
                </li>
                <li>
                    Organise programmes using course modules available with ISTE.
                </li>
            </ul>

            <h4 class="content-subheading">
                The following course modules are available with the ISTE:
            </h4>

            <ul>
                <li>
                    Induction Training for Teachers
                </li>
                <li>
                    Institutional Management
                </li>
                <li>
                    Industry-Institute Interaction
                </li>
                <li>
                    Strategic Planning for Institutional Development
                </li>
                <li>
                    Performance Appraisal and Development System
                </li>
                <li>
                    Leadership in Institutions
                </li>
                <li>
                    TQM in Technical Education
                </li>
                <li>
                    Women in Development
                </li>
                <li>
                    Primary Management Skills
                </li>
            </ul>
    </div>

    <div class="row">
        <div class="col-md-10 mx-auto">

            <p class="paragraph mt-3 scaleup">
                The annual interest on Life Membership fee will 
                be distributed as follows for the activities of 
                Chapters, Sections and Headquarters:
            </p>

            <div class="container mt-3">
                <table class="table table-striped table-bordered table-hover text-center shadow mb-5">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">Details of Membership</th>
                      <th scope="col">Chapter Share</th>
                      <th scope="col">Section Share</th>
                      <th scope="col">Hqrs. Share</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>LM Number 0001 to 12140 (Joined upto 31-12-1991)</td>
                      <td>Rs. 4.00</td>
                      <td>Rs. 2.00</td>
                      <td>Rs. 4.00</td>
                    </tr>
                    <tr>
                      <td>LM Number 12141 to 19720 (1-1-1992 to 31-3-1994)</td>
                      <td>Rs. 8.00</td>
                      <td>Rs. 4.00</td>
                      <td>Rs. 8.00</td>
                    </tr>
                    <tr>
                      <td>LM Number 19721 to 27000 (1-4-1994 to 31-3-1998)</td>
                      <td>Rs. 20.00</td>
                      <td>Rs. 10.00</td>
                      <td>Rs. 20.00</td>
                    </tr>
                    <tr>
                      <td>LM Number 27001 onwards (1-4-1998 onwards)</td>
                      <td>Rs. 40.00</td>
                      <td>Rs. 20.00</td>
                      <td>Rs. 40.00</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <h4 class="content-subheading scaleup">
                NOTE:
              </h4>

              <ol>
                <li class="scaleup">
                    The above mentioned distribution of annual interest on 
                    Life Membership fee &#64; 5% p.a. is on per-member-basis
                </li>
                <li class="scaleup">
                    The admission fee, if so any, is retained by the Headquarters.
                </li>
                <li class="scaleup">
                    The Institutional Membership is retained in full by the 
                    Headquarters for developmental activities. No chapter 
                    share applicable on this.
                </li>
              </ol> 
              
              <h4 class="content-subheading scaleup">
                CHAPTER SHARE
              </h4>

              <p class="paragraph mt-3 scaleup">
                The proportionate share of the Bank interest on the Life Membership 
                fee shall be remitted to the Chapter on receipt of the satisfactory 
                report of Activities and Audited Statement of Accounts for the preceding 
                year from the Chapter through proper channel. The request for the release 
                of the Chapter share should be sent to the Headquarters during the month 
                of July of every year. Student Chapter can retain their share out of total 
                fee collected and send the rest amount to ISTE Delhi for necessary action.
              </p>

              <h4 class="content-subheading scaleup">
                SECTION SHARE
              </h4>

              <p class="paragraph mt-3 scaleup">
                The Section shall make an annual report of Activities and Audited 
                Statement of Accounts every year and shall send them to ISTE 
                Headquarters during July of every year. The Section’s share shall 
                be released only on the receipt of these details.
              </p>


        </div>

    </div>



</div>






