
<!-- Title -->
<div class="row">
    <div class="col-md-12 mx-auto title-div-color">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center title-div-content">
            <h2 class="title-text">List of ISTE Faculty Awards</h2>
            
            <span class="subtitle-container">
                <a href="" class="linked-text"><h6 class="subtitle-text text-color-change">Home</h6></a>
                <h6 class="subtitle-text "> > List of ISTE Faculty Awards</h6>
            </span>
        </div> 
    </div> 
</div>

<!-- Content -->

<!-- For ISTE Members -->

<div class="container">
    <div class="row" style="margin-top: 5vh;">
        <div class="col-md-10 mx-auto bordered-div border-container">

            

            <p class="paragraph-non-scale">
                <strong>ISTE</strong> is unique in the fact that among the Professional Societies in India, 
                it is only the ISTE that gives every year a number of National and 
                Regional Student Awards to encourage innovation and excellence 
                among teachers and students. All these awards were instituted by 
                various organisations. <strong>NOMINATIONS</strong> were invited from teachers of 
                all Government, Aided and Unaided technical Institutions for the 
                various ISTE National/Regional AWARDS every year. These awards 
                will be presented to the winners during the ISTE National Annual 
                Faculty Convention. For details please mail to: <strong>The Executive Secretary</strong> 
                 Indian Society for Technical Education Shaheed Jeet 
                Singh Marg Near Katwaria Sarai, 
                New Delhi - 110 016 
                
                <a href="" class="linked-text text-color-change">iste.executivesecretary&#64;gmail.com </a>
                    

                <a href="mailto:istedhq@isteonline.org" class="linked-text text-color-change">istedhq&#64;isteonline.org</a>
            </p>

        </div>

        <div class="row">
            <div class="col-md-10 mx-auto">

                <h2 class="content-heading">A. NATIONAL AWARDS</h2>

                
                    
                    <table class="table table-striped table-bordered table-hover text-center shadow mb-5 mt-2">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">S.No</th>
                            <th scope="col">Name of Award</th>
                            <th scope="col">Download Form</th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr><td>1</td><td>Anna University National Award instituted by the Anna University, Chennai</td><td><a href="#" class="linked-text text-color-change">Download</a></td></tr>
                          <tr><td>2</td><td>U.P. Government National Award for outstanding work done in a specified area of Engineering and Technology</td><td><a href="#" class="linked-text text-color-change">Download</a></td></tr>
                          <tr><td>3</td><td>ISTE-SGSITS National Award for Young Teachers (below 35 years) of Engineering Colleges</td><td><a href="#" class="linked-text text-color-change">Download</a></td></tr>
                          <tr><td>4</td><td>Maharashtra State National Award for the best Research work done by teachers of Engg. Colleges</td><td><a href="#" class="linked-text text-color-change">Download</a></td></tr>
                          <tr><td>5</td><td>Rajaramibapu Patil National Award for Promising Engineering Teacher</td><td><a href="#" class="linked-text text-color-change">Download</a></td></tr>
                          <tr><td>6</td><td>Bharatiya Vidya Bhavan National Award for an Engineering College having Best Overall Performance</td><td><a href="#" class="linked-text text-color-change">Download</a></td></tr>
                          <tr><td>7</td><td>Bharatiya Vidya Bhavan National Award for Best Engg. College Principal</td><td><a href="#" class="linked-text text-color-change">Download</a></td></tr>
                          <tr><td>8</td><td>Prof. K. Arumugam National Award for Innovative Research (for Engineering College Teachers only)</td><td><a href="#" class="linked-text text-color-change">Download</a></td></tr>
                          <tr><td>9</td><td>Prof. V.K.M. John National Award for the Best Engineering College Teacher of Kerala State</td><td><a href="#" class="linked-text text-color-change">Download</a></td></tr>
                          <tr><td>10</td><td>ISTE Calcutta Convention National Award for the best paper presented by teachers at the Annual Convention of ISTE</td><td><a href="#" class="linked-text text-color-change">Download</a></td></tr>
                          <tr><td>11</td><td>ISTE Baroda Chapter National Award for the best paper published in the Indian Journal of Technical Education</td><td><a href="#" class="linked-text text-color-change">Download</a></td></tr>
                          <tr><td>12</td><td>ISTE-KIIT National Award for Best Technical University instituted by KIIT University</td><td><a href="#" class="linked-text text-color-change">Download</a></td></tr>
                          <tr><td>13</td><td>Shayesta Akhtar Memorial National Award for the Best Women Engineering College Teacher</td><td><a href="#" class="linked-text text-color-change">Download</a></td></tr>
                          <tr><td>14</td><td>ISTE-Syed Sajid Ali National Award for outstanding research work in the field of Renewable Energy</td><td><a href="#" class="linked-text text-color-change">Download</a></td></tr>
                          <tr><td>15</td><td>Sri VVR Seshadri Rao, Gudlavelleru Engineering College National Award for the Best Private Engineering College</td><td><a href="#" class="linked-text text-color-change">Download</a></td></tr>
                          <tr><td>16</td><td>ISTE-Ranganathan Engineering College National Award for Best Polytechnic Principal</td><td><a href="#" class="linked-text text-color-change">Download</a></td></tr>
                          <tr><td>17</td><td>ISTE-Stripes of Redeemer National Award for the Best ISTE Chapter Chairman</td><td><a href="#" class="linked-text text-color-change">Download</a></td></tr>
                          <tr><td>18</td><td>ISTE-Kings College of Engineering National Award for Best M.E./M.Tech. Thesis in Engineering</td><td><a href="#" class="linked-text text-color-change">Download</a></td></tr>
                          <tr><td>19</td><td>Mrs. Rahatun Nesa Ali Memorial ISTE National Award for Best Women Engineering College in India</td><td><a href="#" class="linked-text text-color-change">Download</a></td></tr>
                          <tr><td>20</td><td>Smt. Prabhawati Shahi Memorial National Award for the Best Outstanding Teacher in Civil Engineering</td><td><a href="#" class="linked-text text-color-change">Download</a></td></tr>
                          <tr><td>21</td><td>MIET Mohaboobi Mohamed Yunus Memorial National Award for Best Women Teacher</td><td><a href="#" class="linked-text text-color-change">Download</a></td></tr>
                        </tbody>
                      </table>


                      <h2 class="content-heading">B. REGIONAL AWARDS</h2>

                      
                      <table class="table table-striped table-bordered table-hover text-center shadow mb-5">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">S.No</th>
                                <th scope="col">Name of Award</th>
                                <th scope="col">Download Form</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>1</td><td>Best Engineering College Teacher Award for Punjab State, instituted by the Organisers of the 28th Annual Convention of ISTE held at PAU, Ludhiana</td><td><a href="#" class="linked-text text-color-change">Download</a></td></tr>
                            <tr><td>2</td><td>Best Engg. College Teacher Award for Maharashtra State, Instituted by Govt. of Maharashtra.</td><td><a href="#" class="linked-text text-color-change">Download</a></td></tr>
                            <tr><td>3</td><td>Rajalaxmi Memorial Best Engineering College Teacher Award for Orissa State instituted by the Orissa Engineering College, Bhubaneswar.</td><td><a href="#" class="linked-text text-color-change">Download</a></td></tr>
                            <tr><td>4</td><td>Charutar Vidya Mandal, Vallabh Vidyanagar, Gujarat Award for the Best Engineering College Teacher for Gujarat State</td><td><a href="#" class="linked-text text-color-change">Download</a></td></tr>
                            <tr><td>5</td><td>ISTE-NARSEE MONJEE Award for Polytechnics in Maharashtra having Best Overall Development instituted by the Narsee-Monjee Trust, Mumbai</td><td><a href="#" class="linked-text text-color-change">Download</a></td></tr>
                            <tr><td>6</td><td>Best Polytechnic Teacher Award (State Level). States covered: Andhra Pradesh, Assam, Bihar, Karnataka, Kerala, Madhya Pradesh, Maharashtra, Orissa, Punjab and Uttar Pradesh</td><td><a href="#" class="linked-text text-color-change">Download</a></td></tr>
                            <tr><td>7</td><td>Arutchelvar Dr. N. Mahalingam Award for Best Polytechnic Teacher for Tamil Nadu State.</td><td><a href="#" class="linked-text text-color-change">Download</a></td></tr>
                            <tr><td>8</td><td>Charutar Vidya Mandal, Vallabh Vidyanagar, Gujarat Award for the Best Polytechnic Teacher for Gujarat State.</td><td><a href="#" class="linked-text text-color-change">Download</a></td></tr>
                            <tr><td>9</td><td>Narayan Memorial Best Engineering College Principal Award of Orissa State</td><td><a href="#" class="linked-text text-color-change">Download</a></td></tr>
                            <tr><td>10</td><td>Gandhi Award for Best Engineering College of Orissa State</td><td><a href="#" class="linked-text text-color-change">Download</a></td></tr>
                            <tr><td>11</td><td>Loknath Award for Best Polytechnic Principal Award from ISTE Orissa State</td><td><a href="#" class="linked-text text-color-change">Notification</a></td></tr>
                            <tr><td>12</td><td>Nivesh Kumar Varshney Meerut Memorial Award for U.P./Uttarakhand State for Best Engineering College Teacher</td><td><a href="#" class="linked-text text-color-change">Notification</a></td></tr>
                            <tr><td>13</td><td>ISTE Best Chapter Award (one from each Section)</td><td></td></tr>
                        </tbody>
                    </table>
                    
            </div>

        </div>
        
    </div>


</div>






