/* You can add global styles to this file, and also import other style files */


@font-face {
    font-family: 'Poppins-regular';
    src: url('../public/fonts/Poppins/Poppins-Regular.ttf') format('truetype'); /* Adjust the format if using .woff/.woff2 */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Poppins-bold';
    src: url('../public/fonts/Poppins/Poppins-Bold.ttf') format('truetype'); /* Adjust the format if using .woff/.woff2 */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Poppins-semibold';
    src: url('../public/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype'); /* Adjust the format if using .woff/.woff2 */
    font-weight: normal;
    font-style: normal;
  }


html, body { height: 100%; }
body { margin: 0; font-family:Poppins-regular; }

/* your-component.component.css */
.custom-button {
  background-color: #1AB69D;  /* Set button color */
  color: white;                /* Text color */
  border: none;                /* No border */
  border-radius: 5px;         /* Rounded corners */
  padding: 10px 20px;         /* Padding */
  cursor: pointer;             /* Pointer cursor on hover */
  display: flex;               /* Flexbox to align items */
  align-items: center;         /* Center items vertically */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transitions */
}

.custom-button:hover {
  background-color: #148d7b;   /* Darker shade on hover */
  transform: scale(1.05);      /* Slightly scale up on hover */
}

.custom-button .icon {
  margin-right: 8px;           /* Space between icon and text */
}

.paragraph{
  font-family: 'Poppins-regular';
}

li{
  font-family: 'Poppins-regular';
}

h1{
  font-family: 'Poppins-regular';
}

h2{
  font-family: 'Poppins-regular';
}

h3{
  font-family: 'Poppins-regular';
}

h4{
  font-family: 'Poppins-regular';
}

h5{
  font-family: 'Poppins-regular';
}

h6{
  font-family: 'Poppins-regular';
}


@keyframes appear-left {
  from {
    opacity: 0;
    /* clip-path: inset(100% 100% 0 0); */
    transform: translate(-100px);
  }
  to {
    opacity: 1;
    /* clip-path: inset(0 0 0 0); */
    transform: translate(0px);
  }
}

.block-left {
  animation: appear-left linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

@keyframes appear-right {
  from {
    opacity: 0;
    /* clip-path: inset(100% 100% 0 0); */
    transform: translate(100px);
  }
  to {
    opacity: 1;
    /* clip-path: inset(0 0 0 0); */
    transform: translate(0px);
  }
}

.block-right {
  animation: appear-right linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;;
}


/* Styles for elements with hover-info */
.hover-info {
  cursor: pointer;
}

/* Hover effect to show "Click to know more" */
.hover-info::after {
  content: "Click to know more";
  position: absolute;
  top: 50%; 
  left: 80%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  z-index: 1020;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Show the message on hover */
.hover-info:hover::after {
  opacity: 1;
  visibility: visible;
}


.text-color-change{
  transition: color 0.3s ease transform 0.3s ease;
}

.text-color-change:hover{
  color: #1AB69D;
  transform: scale(1.05);
}
.linked-text{
  text-decoration: none;
  color: black;
}



