

<section class="hero-section d-flex align-items-center">
    <div class="container hero-content text-center">

        <p class="yellow-text bounce-in-text color-chage" 
        style="margin-bottom:3rem; font-family:'Dancing Script', cursive ; font-size: 1.6rem;"
        [ngClass]="{'touch-active': isActive}" 
        (click)="toggleActive($event)"
        >
            Career Development of Teachers
            
          </p>
      <h1 class="home-block-left color-chage">
        INDIAN SOCIETY FOR
        TECHNICAL EDUCATION​</h1>
      <p class="mt-3 home-block-right color-chage">
        The leading National Professional non-profit making Society for the Technical
        Education System and overall development of our Technical Education System.
      </p>
      <p class="yellow-text home color-chage home-block-top" style="margin-top:3rem;font-family:'Dancing Script', cursive ; font-size: 1.6rem; ">
        Personality Development of Students
      </p>
      
      <!-- <a href="#explore" class="btn btn-primary mt-4">Explore Now</a> -->
    </div>
  </section>


  <div class="container">

    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-10 mx-auto">

            <div class="container my-5 mx-auto">
                <div class="row d-flex justify-content-center align-items-center">

                 
                  <div class="col-md-4 ">
                    <div class="card p-2 hover-card">
                      <div class="card-body text-center">
                        <img src="images/home/card/about.png" class="card-img block-left">
                        <p class="card-title block-left">
                            About Us
                        </p>
                        <p class="card-text paragraph block-right">
                            The Indian Society for Technical Education (ISTE) is the leading National Professional non-profit making Society for the Technical Education System in our country with the motto of Career Development of Teachers and Personality Development of Students and overall development of our Technical Education System.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="card p-2 hover-card">
                      <div class="card-body text-center">
                        <img src="images/home/card/train.png" class="card-img block-left">
                        <p class="card-title block-left">
                            Contribute Articles in IJTE
                        </p>
                        <p class="card-text paragraph block-right">
                            The Indian Journal of Technical Education is published by the Indian Society for Technical Education on quarterly basis. The contributors are expected to highlight various issues of Technical Education (incorporating disciplines of Engineering, Technology, Management, Architecture & Pharmacy, etc.,) along with meaningful suggestions for solution, refinement and innovations.

                        </p>
                      </div>
                    </div>
                  </div>
    
                  <div class="col-md-4">
                    <div class="card p-2 hover-card">
                      <div class="card-body text-center">
                        <img src="images/home/card/membership.png" class="card-img block-left">
                        <p class="card-title block-left">
                            Updation of Membership Data
                        </p>
                        <p class="card-text paragraph block-right">
                            It is planned to conduct the coming ISTE General Election in online mode for which details about the email and mobile numbers of all life members are required. All the life members are here by requested to confirm their details in Search your Membership mentioned on website and If any correction is required please download the proforma.
                        </p>    
                        </div>
                    </div>
                  </div>
                  
                </div>
    
            </div>

        </div>

    </div>

    
  </div>


  <app-home-president-section></app-home-president-section>


  <!-- Academic Programs -->

  <app-home-academic-programs></app-home-academic-programs>

  